@import "normalize.css";
@import "main.css";
@import "../fonts/Baskerville/font.css";
@import "../fonts/font-awesome/css/font-awesome.css";
@import "../fonts/serai-moments/style.css";
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/**
 * General Styles
 */
html,
body {
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #FFF;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
body.lightbox {
  overflow: hidden;
  height: 100%;
}
.hide {
  display: none;
}
a {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.lightbox .modal {
  visibility: visible;
  opacity: 1;
}
.lightbox .modal .content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  -moz-transition: opacity 0.5s, visibility 0.5s;
  -o-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
}
.modal .close {
  position: absolute;
  right: -12px;
  top: -12px;
  color: #aaa;
}
.modal .close .fa {
  font-size: 16px;
  padding: 3px 4px 3px 5px;
  border-radius: 30px;
  background-color: #fff;
}
.modal .close:hover {
  color: #3BAEE5;
}
.modal .content {
  position: relative;
  top: 100px;
  background-color: #fff;
  width: 600px;
  margin: 0px auto;
  border-radius: 3px;
  text-align: center;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0, 0, 0.265, 2);
  -moz-transition: -moz-transform 0.5s cubic-bezier(0, 0, 0.265, 2);
  -o-transition: -o-transform 0.5s cubic-bezier(0, 0, 0.265, 2);
  transition: transform 0.5s cubic-bezier(0, 0, 0.265, 2);
}
.modal h2 {
  background-color: #3BAEE5;
  color: #fff;
  margin: 0;
  border-radius: 3px 3px 0 0;
  padding: 15px;
  font-weight: 200;
}
.modal .modal-body,
.modal .modal-foot {
  padding: 20px;
}
.modal .modal-body p,
.modal .modal-foot p {
  margin-top: 0;
  font-size: 16px;
  padding-top: 10px;
}
.modal ul.services-list {
  padding: 0;
  margin: 30px 0 0;
}
.modal ul.services-list li {
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}
.modal ul.services-list li .fa {
  display: block;
  font-size: 38px;
}
.modal ul.services-list a {
  display: block;
  text-decoration: none;
  color: #333;
  width: 100px;
  height: 50px;
  padding: 15px 0 20px;
  margin: 0 10px;
  position: relative;
  border: 1px solid #eee;
  background-color: #fff;
  -webkit-transition: color 0.3s, -webkit-transform 0.3s cubic-bezier(0, 0, 0.265, 2.55);
  -moz-transition: color 0.3s, -moz-transform 0.3s cubic-bezier(0, 0, 0.265, 2.55);
  -o-transition: color 0.3s, -o-transform 0.3s cubic-bezier(0, 0, 0.265, 2.55);
  transition: color 0.3s, transform 0.3s cubic-bezier(0, 0, 0.265, 2.55);
}
.modal ul.services-list a .fa {
  color: #999;
}
.modal ul.services-list a:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 2;
}
.modal ul.services-list a.twitter:hover .fa,
.modal ul.services-list a.twitter.selected .fa {
  color: #55acee;
}
.modal ul.services-list a.facebook:hover .fa,
.modal ul.services-list a.facebook.selected .fa {
  color: #3b5998;
}
.modal ul.services-list a.google-plus:hover .fa,
.modal ul.services-list a.google-plus.selected .fa {
  color: #dd4b39;
}
.modal ul.services-list a.dropbox:hover .fa,
.modal ul.services-list a.dropbox.selected .fa {
  color: #007ee5;
}
.modal ul.services-list a.instagram:hover .fa,
.modal ul.services-list a.instagram.selected .fa {
  color: #3f729b;
}
.modal ul.services-list a.tumblr:hover .fa,
.modal ul.services-list a.tumblr.selected .fa {
  color: #35465c;
}
.modal ul.services-list a.foursquare:hover .fa,
.modal ul.services-list a.foursquare.selected .fa {
  color: #0cbadf;
}
.modal ul.services-list a.wordpress:hover .fa,
.modal ul.services-list a.wordpress.selected .fa {
  color: #21759b;
}
.modal ul.services-list a:before {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.modal ul.services-list a.selected:before {
  position: absolute;
  content: '';
  opacity: 1;
  background: transparent url('../img/check.png') no-repeat center center;
  width: 24px;
  height: 24px;
  background-size: 16px;
  left: 0;
  top: 2px;
}
.modal .modal-foot {
  background-color: #eee;
  border-radius: 0 0 3px 3px;
  text-align: right;
  *zoom: 1;
}
.modal .modal-foot:before,
.modal .modal-foot:after {
  display: table;
  content: "";
  line-height: 0;
}
.modal .modal-foot:after {
  clear: both;
}
.modal .modal-foot .left {
  width: 50%;
  float: left;
  text-align: left;
}
.modal .modal-foot input {
  border: 1px solid #ccc;
  padding: 5px 10px;
  outline: none;
  width: 250px;
}
.modal .modal-foot input:focus {
  border: 1px solid #999;
}
.modal .modal-foot .subtext {
  font-size: 12px;
  color: #777;
  margin: 3px 0 0;
}
.modal .modal-foot .service-message {
  color: #00a553;
  font-size: 12px;
  font-weight: bold;
}
/**
 * Layout
 */
.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1130px;
}
.header {
  position: relative;
  height: 100%;
  min-height: 685px;
  overflow: hidden;
  background: #333333 url(../img/home-cover-1600.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.header .overlay:before,
.header:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: -moz-radial-gradient(center top, circle farthest-corner, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 100%), -moz-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 88%, #000000 100%);
  background-image: -webkit-radial-gradient(center top, circle farthest-corner, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 100%), -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(88%, rgba(0, 0, 0, 0.4)), color-stop(100%, #000000));
  background-image: -o-radial-gradient(center top, circle farthest-corner, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 100%), -o-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 88%, #000000 100%);
  background-image: -ms-radial-gradient(center top, circle farthest-corner, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 100%), -ms-linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 88%, #000000 100%);
  background-image: radial-gradient(center top, circle farthest-corner, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 88%, #000000 100%);
  content: '';
  z-index: 0;
}
.header .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.header .overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url(../img/home-cover-1600-blur.jpg) center no-repeat;
  background-size: cover;
  z-index: 0;
  opacity: 0;
}
.header h1,
.header h2 {
  margin: 0;
  line-height: 1;
}
.header h1.logo {
  margin: 40px 0 90px;
  display: inline-block;
  text-indent: -1000px;
  overflow-x: hidden;
  background: transparent url(../img/logo-home.png) no-repeat 0 0;
  background-size: 52px 21px;
  width: 52px;
  height: 21px;
}
.header h1.head {
  font-family: Baskerville, serif;
  font-size: 4em;
  margin: 0 auto 15px;
  font-weight: bold;
}
.header h2.subhead {
  font-family: Baskerville, serif;
  margin: 0 0 80px;
  font-size: 2em;
  font-style: italic;
  color: rgba(255, 254, 255, 0.61);
  font-weight: bold;
}
.header h2.subhead span {
  color: #40DFC2;
}
.header .signup-section {
  margin: 40px auto;
  background-color: rgba(0, 0, 0, 0.5);
  width: 600px;
  border-radius: 5px;
  padding: 10px;
}
.header p {
  font-size: 18px;
  font-weight: 200;
  margin: 1.5em 0;
}
.header p.subtext {
  font-size: 13px;
  color: #999;
}
.header .page-scroll {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.header .scroll-down {
  color: #999;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header .scroll-down em {
  display: block;
  font-size: 24px;
}
.header .scroll-down:hover {
  color: #fff;
}
.trips {
  text-align: center;
}
.trips h2 {
  font-weight: 200;
  padding: 40px 0 30px;
  margin: 0;
}
.trips .trips-container {
  margin-bottom: 20px;
}
.trips .trip-tile {
  display: inline-block;
  width: 400px;
  height: 300px;
  background-color: #e6e6e6;
  margin: 20px;
  position: relative;
  background-size: cover;
  color: #fff;
  line-height: 1.3;
}
.trips .trip-tile .title {
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
  font-weight: 200;
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 10px 0;
}
.trips .trip-tile .title small {
  display: block;
  font-size: 14px;
  color: #eee;
}
.second-signup {
  background-color: #3BAEE5;
  color: #fff;
  text-align: center;
  padding: 10px;
}
.second-signup p {
  font-size: 18px;
  margin: 0;
  padding: 30px;
}
.second-signup p.subtext {
  font-size: 15px;
  color: #eee;
}
.second-signup .button-container {
  margin: 15px 0 10px;
}
.btn {
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  color: #ddd;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 6px 30px 8px;
  border-radius: 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}
.btn:hover {
  color: #fff;
  border-color: #fff;
  background-color: #000000;
}
.btn.blue {
  color: #fff;
  border-color: #fff;
  background-color: #3BAEE5;
}
.btn.blue:hover {
  color: #3BAEE5;
  border-color: #3BAEE5;
  background-color: #fff;
}
.btn.no-border {
  border-width: 0px;
}
.btn.small {
  font-size: 12px;
  padding: 5px 20px 5px;
}
.btn.black {
  background-color: #4E4E4E;
  border-color: #2B2B2B;
  color: #CBCBCB;
  font-weight: 200;
}
.btn.disabled {
  background-color: #ccc !important;
  cursor: default;
}
.btn.disabled:hover {
  background-color: #ccc !important;
  color: #fff;
}
.footer {
  background-color: #333333;
  color: #fff;
  padding: 30px 0 10px;
  *zoom: 1;
}
.footer h4 {
  margin: 0;
}
.footer:before,
.footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.footer:after {
  clear: both;
}
.footer .left {
  width: 50%;
  float: left;
}
.footer .right {
  margin-left: 60%;
}
.footer .foot-text {
  margin-top: 30px;
  clear: both;
  text-align: center;
  color: #888;
  font-size: 13px;
}
.footer textarea {
  width: 100%;
  height: 40px;
  background-color: #3E3E3E;
  margin: 15px 0;
  border: 1px solid #2B2B2B;
  outline: none;
  color: #fff;
  padding: 4px 10px;
  border-radius: 5px;
}
.footer a {
  color: #3BAEE5;
  text-decoration: none;
}
.footer .feedback-message {
  color: #00a553;
  margin-left: 15px;
}
