@import "normalize.css";
@import "main.css";
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
@import "../fonts/Baskerville/font.css";
@import "../fonts/font-awesome/css/font-awesome.css";
@import "../fonts/serai-moments/style.css";

/**
 * General Styles
 */
html, body{
	height: 100%;
}
body {
	font-family: @sansFontFamily;
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
	color: @textColor;
	background-color: #FFF;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	&.lightbox{
		overflow:hidden;
		height: 100%;
	}
}
.hide{
	display: none;
}
a{
	.transition(color 0.3s);
}

.lightbox{
	.modal{
		visibility: visible;
		opacity: 1;
		.content{
			.scale(1);
		}
	}
}

@modal-radius: 3px;
.modal{
	position: fixed;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	z-index: 10;
	visibility: hidden;
	opacity: 0;
	.transition(~"opacity 0.5s, visibility 0.5s");
	.close{
		position: absolute;
		right: -12px;
		top: -12px;
		color: #aaa;
		.fa{
			font-size: 16px;
			padding: 3px 4px 3px 5px;
			border-radius: 30px;
			background-color: #fff;
		}
		&:hover{
			color: #3BAEE5;
		}
	}
	.content{
		position: relative;
		top: 100px;
		background-color: #fff;
		width: 600px;
		margin: 0px auto;
		border-radius: @modal-radius;
		text-align: center;
		.scale(0.6);
		-webkit-transition: -webkit-transform 0.5s cubic-bezier(0, 0, 0.265, 2.0);
		-moz-transition: -moz-transform 0.5s cubic-bezier(0, 0, 0.265, 2.0);
		-o-transition: -o-transform 0.5s cubic-bezier(0, 0, 0.265, 2.0);
		transition: transform 0.5s cubic-bezier(0, 0, 0.265, 2.0);
	}
	h2{
		background-color: #3BAEE5;
		color: #fff;
		margin: 0;
		border-radius: @modal-radius @modal-radius 0 0;
		padding: 15px;
		font-weight: 200;
	}
	.modal-body, .modal-foot{
		padding: 20px;
		p{
			margin-top: 0;
			font-size: 16px;
			padding-top: 10px;
		}
	}
	ul.services-list{
		padding: 0;
		margin: 30px 0 0;
		li{
			display: inline-block;
			text-align: center;

			margin-bottom: 20px;
			.fa{
				display: block;
				font-size: 38px;
			}
		}
		a{
			display: block;
			text-decoration: none;
			color: #333;
			width: 100px;
			height: 50px;
			padding: 15px 0 20px;
			margin: 0 10px;
			position: relative;
			border: 1px solid #eee;
			background-color: #fff;
			-webkit-transition: color 0.3s, -webkit-transform 0.3s cubic-bezier(0, 0, 0.265, 2.55);
			-moz-transition: color 0.3s, -moz-transform 0.3s cubic-bezier(0, 0, 0.265, 2.55);
			-o-transition: color 0.3s, -o-transform 0.3s cubic-bezier(0, 0, 0.265, 2.55);
			transition: color 0.3s, transform 0.3s cubic-bezier(0, 0, 0.265, 2.55);
			.fa{
				color: #999;
			}
			&:hover{
				.scale(1.2);
				z-index: 2;
			}
			&.twitter:hover, &.twitter.selected{
				.fa{color: #55acee;}
			}
			&.facebook:hover, &.facebook.selected{
				.fa{color: #3b5998;}
			}
			&.google-plus:hover, &.google-plus.selected{
				.fa{color: #dd4b39;}
			}
			&.dropbox:hover, &.dropbox.selected{
				.fa{color: #007ee5;}
			}
			&.instagram:hover, &.instagram.selected{
				.fa{color: #3f729b;}
			}
			&.tumblr:hover, &.tumblr.selected{
				.fa{color: #35465c;}
			}
			&.foursquare:hover, &.foursquare.selected{
				.fa{color: #0cbadf;}
			}
			&.wordpress:hover, &.wordpress.selected{
				.fa{color: #21759b;}
			}
			&:before{
				opacity: 0;
				.transition(opacity 0.5s);
			}
			&.selected:before{
				position: absolute;
				content: '';
				opacity: 1;
				background: transparent url('../img/check.png') no-repeat center center;
				width: 24px;
				height: 24px;
				background-size: 16px;
				left: 0;
				top:2px;
			}
		}
	}
	.modal-foot{
		background-color: #eee;
		border-radius: 0 0 @modal-radius @modal-radius;
		text-align: right;
		.clearfix();
		.left{
			width: 50%;
			float: left;
			text-align: left;
		}
		input{
			border: 1px solid #ccc;
			padding: 5px 10px;
			outline: none;
			width: 250px;
			&:focus{
				border: 1px solid #999;
			}
		}
		.subtext{
			font-size: 12px;
			color: #777;
			margin: 3px 0 0;
		}
		.service-message{
			color: #00a553;
			font-size: 12px;
			font-weight: bold;
		}
	}
}

/**
 * Layout
 */
.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1130px;
}

.header{
	position: relative;
	height: 100%;
	min-height: 685px;
	overflow: hidden;
	background: #333 url(../img/home-cover-1600.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
	color: #fff;
	.overlay:before, &:before{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-image: -moz-radial-gradient(center top, circle farthest-corner, rgba(0,0,0,0.0), rgba(0,0,0,0.5) 100%),
						  -moz-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 88%, rgba(0,0,0,1) 100%);
		background-image: -webkit-radial-gradient(center top, circle farthest-corner, rgba(0,0,0,0.0), rgba(0,0,0,0.5) 100%),
						  -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(88%, rgba(0,0,0,0.4)), color-stop(100%, rgba(0,0,0,1)));
		background-image: -o-radial-gradient(center top, circle farthest-corner, rgba(0,0,0,0.0), rgba(0,0,0,0.5) 100%),
						  -o-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 88%, rgba(0,0,0,1) 100%);
		background-image: -ms-radial-gradient(center top, circle farthest-corner, rgba(0,0,0,0.0), rgba(0,0,0,0.5) 100%),
						  -ms-linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 88%, rgba(0,0,0,1) 100%);
		background-image: radial-gradient(center top, circle farthest-corner, rgba(0,0,0,0.0), rgba(0,0,0,0.5) 100%),
						  linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 88%, rgba(0,0,0,1) 100%);

		content: '';
		z-index: 0;
	}
	.content{
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		z-index: 1;
	}
	.overlay{
	    position: absolute;
	    top: 0; right: 0; left: 0; bottom: 0;
	    background: url(../img/home-cover-1600-blur.jpg) center no-repeat;
	    background-size: cover;
	    z-index: 0;
	    opacity: 0;
  	}
	h1, h2{
		margin: 0;
		line-height: 1;
	}
	h1.logo{
		margin: 40px 0 90px;
		display: inline-block;
		text-indent: -1000px;
		overflow-x: hidden;
		background: transparent url(../img/logo-home.png) no-repeat 0 0;
		background-size: 52px 21px;
		width: 52px;
		height: 21px;
	}
	h1.head{
		font-family: Baskerville, serif;
		font-size: 4em;
		margin: 0 auto 15px;
		font-weight: bold;
	}
	h2.subhead{
		font-family: Baskerville, serif;
		margin: 0 0 80px;
		font-size: 2em;
		font-style: italic;
		color: rgba(255, 254, 255, 0.61);
		font-weight: bold;
		span{
			color: #40DFC2;
		}
	}
	.signup-section{
		margin: 40px auto;
		background-color: rgba(0, 0, 0, 0.5);
		width: 600px;
		border-radius: 5px;
		padding: 10px;
	}
	p{
		font-size: 18px;
		font-weight: 200;
		margin: 1.5em 0;
		&.subtext{
			font-size: 13px;
			color: #999;
		}
	}
	.page-scroll{
		position: absolute;
		bottom: 10px;
		left: 50%;
		.translate(-50%, 0);
	}
	.scroll-down{
		color: #999;
		text-decoration: none;
		em{
			display: block;
			font-size: 24px;
		}
		.transition(all 0.3s);
		&:hover{
			color: #fff;
		}
	}
}
.trips{
	// height: 100%;
	text-align: center;
	h2{
		font-weight: 200;
		padding: 40px 0 30px;
		margin: 0;
	}
	.trips-container{
		// display: none;
		margin-bottom: 20px;
	}
	.trip-tile{
		display: inline-block;
		width: 400px;
		height: 300px;
		background-color: #e6e6e6;
		margin: 20px;
		position: relative;
		background-size: cover;
		color: #fff;
		line-height: 1.3;

		.title{
			background-color: rgba(0,0,0,0.7);
			font-size: 24px;
			font-weight: 200;
			position: absolute;
			bottom: 20px;
			width: 100%;
			padding: 10px 0;
			small{
				display: block;
				font-size: 14px;
				color: #eee;
			}
		}
	}
}
.second-signup{
	background-color: #3BAEE5;
	color: #fff;
	text-align: center;
	padding: 10px;
	p{
		font-size: 18px;
		margin: 0;
		padding: 30px;
		&.subtext{
			font-size: 15px;
			color: #eee;
		}
	}
	.button-container{
		margin: 15px 0 10px;
	}
}
.btn{
	display: inline-block;
	font-size: 16px;
	text-decoration: none;
	border: 1px solid #ddd;
	color: #ddd;
	background-color: rgba(0,0,0,0.1);
	padding: 6px 30px 8px;
	border-radius: 20px;
	.transition(all 0.3s);
	outline: none;
	&:hover{
		color: #fff;
		border-color: #fff;
		background-color: rgba(0,0,0,1);
	}
	&.blue{
		color: #fff;
		border-color: #fff;
		background-color: #3BAEE5;
		&:hover{
			color: #3BAEE5;
			border-color: #3BAEE5;
			background-color: #fff;
		}
	}
	&.no-border{
		border-width: 0px;
	}
	&.small{
		font-size: 12px;
		padding: 5px 20px 5px;
	}
	&.black{
		background-color: #4E4E4E;
		border-color: #2B2B2B;
		color: #CBCBCB;
		font-weight: 200;
	}
	&.disabled{
		background-color: #ccc !important;
		cursor: default;
		&:hover{
			background-color: #ccc !important;
			color: #fff;
		}
	}
}
.footer{
	background-color: #333333;
	color: #fff;
	h4{margin: 0;}
	padding: 30px 0 10px;
	.clearfix();
	.left{
		width: 50%;
		float: left;
	}
	.right{
		margin-left: 60%;
	}
	.foot-text{
		margin-top: 30px;
		clear: both;
		text-align: center;
		color: #888;
		font-size: 13px;
	}
	textarea{
		width: 100%;
		height: 40px;
		background-color: #3E3E3E;
		margin: 15px 0;
		border: 1px solid #2B2B2B;
		outline:none;
		color: #fff;
		padding: 4px 10px;
		border-radius: 5px;
	}
	a{
		color: #3BAEE5;
		text-decoration: none;
	}
	.feedback-message{
		color: #00a553;
		margin-left: 15px;
	}
}