.location-suggests{
    border: 1px solid #eee;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    width: 100%;
    display: none;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 13px;
    .box-sizing(border-box);
    z-index: 2001;
}
.location-suggests{
    max-height: 280px;
    overflow-y:auto;
    li{
        cursor: pointer;
        list-style:none;
        padding: 3px 10px;
        .box-sizing(border-box);
        text-transform:capitalize;
        background-color: #fff;
        position: relative;
        &.li-moment-item{
            padding-left: 100px;

            span{
                left: 10px;
                position: absolute;
                text-transform: uppercase;
                font-size: 12px;
                color: #aaa;
                font-weight: bold;
            }
            &.li-item-active{
                background-color: #61caff;
                color: #fff;
                span{
                    color: #eee;
                }
            }
        }
        &.li-place-item{
        	i{
        		font-style: normal;
        		color: #bbb;
        	}
            &.li-item-active{
                background-color: #61caff;
                color: #fff;
            }
        }
        &.li-message{
            background-color: #efefef;
            text-transform: none;
            &.li-item-active{
                background-color: #efefef;
                color: auto;
            }
        }
        &.li-place-message{
            position: absolute;
            width: 100%;
            top: 100%;
            background-color: #efefef !important;
            text-transform: none;
            box-shadow: 0 0 0 2px #eee, 0 4px 5px rgba(0,0,0,0.2);
            border: 1px solid #eee;
            border-top: none;
        }
    }

    li:nth-child(even){
        background-color: #f6fff6;
    }
}
.loading-indicator{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
    z-index: 2001;
}