* {margin: 0; padding:0; font-family: sans-serif;}
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background-color: #FFF;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    overflow-x: hidden;
}

/******************************************** New UI ***************************************/
.container {
  display: block;
  margin-left: auto; 
  margin-right: auto;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#trips-page{
    width: 1130px;
    margin: auto;

    .user-info{
        text-align: center;
        margin-top: 32px;
        .profile-pic-large{
            width: 75px;
            height: 75px;
            border-radius: 100%;
            overflow: hidden;
            -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
            padding: 3px;
            display: block;
            margin: 0 auto;
            img {
                width: 75px;
                height: 75px;
                border-radius: 50%;
            }
        }
        .user-meta{
            .title {
                font-size: 22px;
                font-weight: 200;
                padding: 5px 0;
                margin: 6px 0 0 0;
            }
        }
    }
    .trips-container{
        .block-title {
            font-size: 23px;
            padding: 10px 0;
            margin: 0;
            font-weight: normal;
        }
        .trips-container-header{

        }
        .trip-item {
            float: left;
            position: relative;
            margin: 10px 13px;
            width: 200px;
            height: 300px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border: 1px solid #DFDFDF;
            cursor: pointer;
            .transition(all 0.3s);

            .trip-date{
                position: absolute;
                text-align: center;
                padding: 10px 0;
                font-size: 18px;
                font-weight: 300;
                left: 0;
                right: 0;
                top: 70px;
                .month{
                    font-size: 14px;
                }
                .year{
                    display: block;
                    font-size: 23px;
                    margin-top: 8px
                }
            }
            .photos-count{
                position: absolute;
                text-align: center;
                padding: 10px 0;
                font-weight: 100;
                top: 135px;
                font-size: 12px;
                left: 0;
                right: 0;
            }
            .trip-title {
                position: absolute;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.46);
                text-align: center;
                padding: 10px 0;
                color: #EFEFEF;
                font-size: 18px;
                font-weight: 200;
                bottom: 12px;
                z-index: 5;
            }
        }
    }
}

#trip-page{
    .deleted{
        display: none;
    }
    .dummy-container{
        position: absolute;
        border: 1px dashed;
        width: 242px;
        height: 160px;
    }
    .home-button{
        position: fixed;
        left: 10px;
        top: 5px;
        padding: 10px;
        z-index: 10;
        border: 1px solid #999;
        border-radius: 7px;
        background-color: #EDEDED;
        cursor: pointer;
    }
    .trip-container{
        position: absolute;
        height: 100%;
        overflow-y: auto;
        width: 100%;
        left: 0;
        .trip-cover{
            height: 100%;
            background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.05) 26%, rgba(0, 0, 0, 0.5) 71%, rgba(0, 0, 0, 0.7) 100%);
            position: relative;
            background-color: #505050;
        
            .trip-header{
                position: absolute;
                width: 100%;
                left: 0;
                text-align: center;
                margin: auto;
                font-weight: 200;
                font-size: 49px;
                z-index: 2;
                top: 730px;
                bottom: 0px;
                height: 40px;
                color: #FFF;
            }
        }
        .moments-block{
            padding-top: 65px;
            margin: auto;
            width:1130px;

            .moment{
                margin:20px auto;

                

                .momentInnerContainer{
                   

                }

                .moment-option{
                    position: absolute;
                    right: -10px;
                    font-size: 15px;
                    padding: 0 10px;
                    border-radius: 4px;
                    top: -22px;
                    display: none;
                    cursor: pointer;

                    .common{
                        background-color: #FFF;
                        border: 1px solid #B0AEAE;
                        padding: 4px 10px;
                        border-radius: 5px;
                        color: #555;
                    }
                    .delete{
                        margin-right: 10px;
                        display: none;
                    }
                }
                &:hover{
                    .moment-option{
                        display: block;
                    }
                }
            }
        }
    }
}
.dummyPhoto{
    position: absolute;
    border: 1px dashed;
    box-shadow: 0 0 12px #000;
    z-index: 10;
}


.trip-moment{
    width: 100%;
    min-height: 430px;
    position: relative;

    &:hover{
        .restore{
            display: block;
        }
    }
    .restore{
        position: absolute;
        top: -27px;
        right: -23px;
        border: 1px solid #999;
        font-size: 13px;
        z-index: 2;
        padding: 5px 12px;
        border-radius: 5px;
        background-color: #FFF;
        color: #888;
        cursor: pointer;
        display: none;
    }
    .moment-meta-info{
        width: 40%;
        position: absolute;
        height: 100%;
        min-height: 400px;

        .backgroundImage{
            position: absolute;
            width: 100%;
            height: 100%;
            background-position: 50%;
            border-bottom: 1px solid #FFF;
            box-sizing: border-box;
            background-size: cover;
            &:before{
                background-color: rgba(0, 0, 0, 0.5);
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
        .moment-info-section{
            padding: 12px 18px;
            box-sizing: border-box;
            min-height: 325px;
            position: relative;
            .title,.moment-title{
                font-size: 39px;
                line-height: 1.2;
                margin: 0;
                font-weight: 200;
                color: #FFF;
                a{
                    width: 100%;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
        .story-count{
            text-align: center;
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            color: #FFF;
            
            .photo-count,.note-count{
                width: 55px;
                display: inline-block;
                text-align: center;
                .count{
                    font-size: 25px;
                    font-weight: 100;
                    margin-bottom: 3px;
                }
                .label{
                    font-size: 13px;
                }
            }
        }
    }
    .moment-media{
        width: 60%;
        margin-left: 40%;
        .moment-media-container{
            margin: 0;
            max-height: 550px;
            overflow: hidden;
            width: 100%;

            .photos-block{

            }
        }
    }
}
/*******************************************************************************************/






#mainarea{ 
  width:100%; margin: 0px auto; overflow: hidden;
}
    	
#middle {
  width: 300px; 
  float: left; 
  border-right: 0px solid grey; 
  vertical-align: top; 
  height: 100%; 
  overflow-y:scroll;
  margin: 0; 
  padding: 0; 
  font-size: 0; 
  box-sizing: border-box;
  border-right: 1px solid #888;

  .trip {
    margin-bottom: 10px;

    .trip-info{
      font-size: 14px;
      color: #C4C4C4;
      position: relative;
      background-color: #3A3A3A;
      padding: 5px 7px;

      span{
        position: absolute;
        right: 7px;
        font-size: 13px;
      }
    }
    .trip-title{
      font-size: 22px;
      padding: 6px 8px;
      background-color: #EFEFEF;
      cursor: pointer;
      &.selected{
        background-color: #8EFFE5;
      }
    }
  }
}
.moment-list{
  height: 0px;
  overflow: hidden;
  &.show{
    height: auto;
  }
  .momentmeta{
    padding: 10px 10px;
    font-size: 15px;
    position: relative;
    margin-bottom: 1px;
    cursor: pointer;

    &:hover , .selected{
      background-color: #D7FFF9;
      color: #706E6E;
    }
    .photos-count{
      position: absolute;
      right: 5px;
      font-size: 12px;
      top: 13px;
    }
  }
}


.account-container{
  background-color: #F1FEFF;
  border: solid #888;
  border-width: 0px 0px 1px 0;
}
.trips-container{
  border-right: 0px solid #888;  
}

.account { 
  margin: 10px;
  display: inline-block;
  text-align: center;
  width: 125px;
 
  .info{
    color: grey;
    font-size: 11px;
  }
  a{
    text-decoration: none;
    .synced{
      color: #006EC5;
    }
  }
  .synced {
    font-size: 20px; 
    line-height: 25px; 
    text-decoration: none; 
    color: #6B6B6B; 
    text-align: center;
  }
  p {
    font-size: 14px; 
    margin-left: 5%; 
    display: inline-block; 
    text-align: center;
  }
}    	
      
#right {
  width: ~'calc(100% - 300px)'; 
  float: left; 
  vertical-align: top; 
  height: 100%; 
  vertical-align: top; 
  font-size: 0; 
  box-sizing: border-box; 
  overflow-y:scroll;
}


#control {
  height: 50px; 
  width: 100%; 
  background-color: #ddd;
}

#moments_container {
  width: 100%; 
  overflow: hidden;

  p{
    font-size: 15px;
  }
}
.hide{
  display: none;
}
.trip-container{

  
  .trip-title{
    font-size: 35px;
    font-weight: 100;
    line-height: 30px;
    padding: 15px 0;
    text-align: center;
    background-color: #F1FEFF;
    border: solid #888;
    border-width: 0 0 1px 0;

  }
}

.moments-block{

}
.dummmy-images{
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    .photo-dummy{
        position: absolute;
        width: 217px;
        overflow: hidden;
        height: 141px;
        cursor: pointer;
        border: 1px solid #DCDCDC;
        margin: 1px 1px;
        box-shadow: 0px 0px 36px #A5A5A5 inset;
        .photo-delete{
            display: none;
        }
        .photo-img{
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            border: 0px solid #FFF;
        }
    }
}
.moment{ 
  width: 100%;

  margin: 20px 0px;
  padding: 10px;
  box-sizing: border-box;

  .title {
    font-size: 35px;
    font-weight: 100;
    line-height: 30px;
    padding: 0 0 10px 0;
    position: relative;
    color: #2A2A2A;
  }
  
  .momentInnerContainer{
    .images{
        overflow: auto;
        width: 100%;
    }
    .images.movable .photo {
        // -webkit-animation: movableMotion 0.2s infinite ease;
        // -moz-animation: movableMotion 0.2s infinite ease;
        // -o-animation: movableMotion 0.2s infinite ease;
        // -ms-animation: movableMotion 0.2s infinite ease;
        // animation: movableMotion 0.2s infinite ease;
    }
  }
  .photo_on_moments{
    .photo-delete{
        display: none;
    }
  }
  .photo,.photo_on_moments{
    float: left;
    width: 217px;
    overflow: hidden;
    height: 141px;
    cursor: pointer;
    position: relative;
    border: 1px solid #DCDCDC;
    margin: 1px 1px;
    box-shadow: 0px 0px 36px #A5A5A5 inset;

    .photo-delete{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.55);
        padding: 0px 5px;
        color: #FFF;
        right: 1px;
        top: 1px;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
    }
    .photo-img{
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border: 0px solid #FFF;
    }
    &.dummyPhoto{
      position: absolute;
      z-index: 10;

      .targetArea {
        width: 10px;
        height: 10px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
      }
    }
  }
}
.move-photos{
  .moment{ 
    height: 195px;
    overflow: hidden;
    border: 1px dashed;
  }
}

@-webkit-keyframes movableMotion {
  0% {.rotate(0deg); }
  25%{.rotate(-0.5deg); }
  50%{.rotate(0deg); }
  75%{.rotate(0.2deg); }
  100%{.rotate(0deg); }
}
@-moz-keyframes movableMotion {
  0% {.rotate(0deg); }
  25%{.rotate(-0.5deg); }
  50%{.rotate(0deg); }
  75%{.rotate(0.2deg); }
  100%{.rotate(0deg); }
}
@-ms-keyframes movableMotion {
  0% {.rotate(0deg); }
  25%{.rotate(-0.5deg); }
  50%{.rotate(0deg); }
  75%{.rotate(0.2deg); }
  100%{.rotate(0deg); }
}
@-o-keyframes movableMotion {
  0% {.rotate(0deg); }
  25%{.rotate(-0.5deg); }
  50%{.rotate(0deg); }
  75%{.rotate(0.2deg); }
  100%{.rotate(0deg); }
}
@keyframes movableMotion {
  0% {.rotate(0deg); }
  25%{.rotate(-0.5deg); }
  50%{.rotate(0deg); }
  75%{.rotate(0.2deg); }
  100%{.rotate(0deg); }
}


.selector {
  position: absolute;
  border: 1px dashed #555;
  background: #BCE;
  background-color: #BEC;
  border-color: #8B9;
  opacity: 0.5;
}
    	