
.moment-type-selection{
	position: relative;
	input{
		width: 100%;
		height: auto;
		.box-sizing(border-box);
		margin: 0;
		outline: none;
		border: none;
		padding: 5px 0;
	}
}
@suggest-height: 250px;
@suggest-width: 350px;
.moment-suggest-container{
	position: absolute;
	top: 100%;
	width: 100%;
	max-height: @suggest-height;
	.clearfix();
	z-index:10;
	background-color: #fff;
	.box-shadow(0 2px 10px rgba(0,0,0,0.2));
	white-space: nowrap;
	overflow-x: hidden;
	display: none;
	color: #444;
}
.moment-suggest-ul{
	.box-sizing(border-box);
	border: 1px solid #eee;
	width: 100%;
	max-height: @suggest-height;
	overflow-y: auto;
	.transition(width 0.5s);
	background-color: #fff;
	padding: 0;
	margin: 0;
	.li-item{
		list-style: none;
		padding: 5px 10px 6px;
		position: relative;
		cursor: pointer;
		.transition(background-color 0.3s);
		&:nth-child(2n+1){
			background-color: #f7f7f7;
		}
		&.active{
			background-color: #E0F8D8 !important;
			&:after{
				-webkit-transform: rotate(45deg) translate(2px,-2px);
			}
		}
	}
	&.child-shown{
		width: @suggest-width;
	}
	.li-item-category{
		font-weight: bold;
		color: #999;
		font-size: 13px;
	}
	.li-item-subcategory{
		color: #999;
		font-size: 12px;
		span.title{
			color: #333;
			font-size: 13px;
		}
		span.category{
			font-weight: bold;
		}
	}
}
.moment-parent-type{
	position: relative;
	cursor: pointer;
	.transition(background-color 0.3s);
	&:after{
		content: '';
		display: block;
		height: 6px;
		width: 6px;
		border-right: solid 1px #c7c7cc;
		border-top: solid 1px #c7c7cc;
		.rotate(45deg);
		float: right;
		position: absolute;
		top: 50%;
		margin-top: -5px;
		right: 15px;
		-webkit-transition: all .4s ease-out;
		transition: all .4s ease-out;
	}

}
.moment-child-suggest-ul{
	.box-sizing(border-box);
	left: @suggest-width + 100px;
	width: 0;
	border: 1px solid #eee;
	opacity: 0;
	visibility: hidden;
	height: @suggest-height;
	overflow-y: auto;
	padding: 0;
	margin: 0;
	.transition(all 0.5s);
	.li-item{
		list-style: none;
		padding: 5px 10px 6px;
		position: relative;
		cursor: pointer;
		.transition(background-color 0.3s);
		&:nth-child(2n+1){
			background-color: #f7f7f7;
		}
	}
	.moment-child-type{
		&.active{
			background-color: #D1EEFC;
		}
	}
	&.is-shown{
		opacity: 1;
		visibility: visible;
		left: @suggest-width;
		width: calc( ~"100%" - @suggest-width );
	}
}

.moment-suggest-ul, .moment-child-suggest-ul{
	display: inline-block;
	vertical-align: top;
	.li-item{
		line-height: 1;
	}
}

.moment-suggest-add{
	position: absolute;
	right: 0;
	top: 50%;
	.translate(0, -50%);
	background-color: #fff;
	padding: 5px 15px;
	font-size: 12px;
	color: #00b48b;
	background-color: #f5f5f5;
	font-weight: bold;
	border-radius: 5px;
	.opacity(0);
	.transition(all 0.5s);
	&.shown{
		.opacity(100);
	}
}
.no-results-message{
	position: absolute;
	top: 0;
	width: 100%;
	padding: 10px;
	font-size: 13px;
}

.selected-moment-types{
	text-align: center;
	.selected-moment-type{
		vertical-align: top;
		display: inline-block;
		text-align: center;
		position: relative;
		padding: 0 10px 20px;
		&:hover{
			i.fa{
				opacity: 1;
			}
		}
		i.fa{
			color: #ee005f;
			font-size: 18px;
			position: absolute;
			right: 0;
			top: -10px;
			opacity: 0;
			.transition(opacity 0.3s);
		}
		i.moment-icon{
			font-size: 42px;
			background-color: #0081dc;
		}
		.moment-category{
			font-size: 13px;
			margin: 4px 0 -3px;
		}
		.moment-subcategory{
			font-size: 14px;
			font-weight: bold;
		}
	}
}

/*.moment-flat-suggest-ul{
	.box-sizing(border-box);
	position: absolute;
	top: 100%;
	border: 1px solid #eee;
	width: 100%;
	max-height: @suggest-height;
	overflow-y: auto;
	.transition(width 0.5s);
	.li-item{
		padding: 5px 10px 6px;
		position: relative;
		cursor: pointer;
		.transition(background-color 0.3s);
		&:nth-child(2n+1){
			background-color: #f7f7f7;
		}
		&.active{
			background-color: #D1EEFC;
			&:after{
				-webkit-transform: rotate(45deg) translate(2px,-2px);
			}
		}
		&.li-item-category{
			font-weight: bold;
			color: #999;
			font-size: 13px;
		}
		&.li-item-subcategory{
			color: #999;
			font-size: 12px;
			span.title{
				color: #333;
				font-size: 13px;
			}
			span.category{
				font-weight: bold;
			}
		}
	}
}*/