.neat-edit-box p:focus{
    outline: none;
}
.neat-edit-box{
    position: relative;
    display: block;
}
.neat-edit-box p{
    z-index: 2;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}
.neat-edit-box p.placeholder{
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    top: 0;
    white-space: nowrap;
    transition: all 0.3s;
}
.neat-edit-box p.placeholder.label{
    top: -1.4em;
    left: 0;
    font-size: 0.8em;
    opacity: 0.7;
}