/* change font size to change size */
.horizontal-loader {
  font-size: 20px;
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
  // display: inline-block;

  .dot {
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: #0cf;
    position: absolute;

    /*.animation(spin 1.25s infinite linear reverse);

    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;

    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;

    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;*/
  }

  .dot1,.dot2 {
    left: 0;
  }

  .dot3 {
    left: 1.5em;
  }

  .dot4 {
    left: 3em;
  }

  .dot1 {
    .animation(reveal 0.5s infinite ease);
    /*-webkit-animation-name: reveal;
    -moz-animation-name: reveal;
    -ms-animation-name: reveal;
    -o-animation-name: reveal;
    animation-name: reveal;*/
  }

  .dot2,.dot3 {
    .animation(slide 0.5s infinite ease);
    /*-webkit-animation-name: slide;
    -moz-animation-name: slide;
    -ms-animation-name: slide;
    -o-animation-name: slide;
    animation-name: slide;*/
  }

  .dot4 {
    .animation(reveal 0.5s infinite ease reverse);
    /*-webkit-animation-name: reveal;
    -moz-animation-name: reveal;
    -ms-animation-name: reveal;
    -o-animation-name: reveal;
    animation-name: reveal;

    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    -ms-animation-direction: reverse;
    -o-animation-direction: reverse;
    animation-direction: reverse;*/

  }

}



@keyframes reveal {
 from {
    -webkit-transform: scale(0.001);
    -moz-transform: scale(0.001);
    -o-transform: scale(0.001);
    -ms-transform: scale(0.001);
    transform: scale(0.001);
 }
 to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
 }

}

@-moz-keyframes reveal {
 from {
   -moz-transform: scale(0.001);
   transform: scale(0.001);
 }
 to {
   -moz-transform: scale(1);
   transform: scale(1);
 }

}

@-webkit-keyframes reveal {
 from {
   -webkit-transform: scale(0.001);
   transform: scale(0.001);
 }
 to {
   -webkit-transform: scale(1);
   transform: scale(1);
 }

}

@-ms-keyframes reveal {
 from {
   -ms-transform: scale(0.001);
   transform: scale(0.001);
 }
 to {
   -ms-transform: scale(1);
   transform: scale(1);
 }

}

@-o-keyframes reveal {
 from {
   -o-transform: scale(0.001);
   transform: scale(0.001);
 }
 to {
   -o-transform: scale(1);
   transform: scale(1);
 }

}

@keyframes slide {
 to {
    -webkit-transform: translateX(1.5em);
    -moz-transform: translateX(1.5em);
    -o-transform: translateX(1.5em);
    -ms-transform: translateX(1.5em);
    transform: translateX(1.5em);
 }

}

@-moz-keyframes slide {
 to {
   -moz-transform: translateX(1.5em);
   transform: translateX(1.5em);
 }

}

@-webkit-keyframes slide {
 to {
   -webkit-transform: translateX(1.5em);
   transform: translateX(1.5em);
 }

}

@-ms-keyframes slide {
 to {
   -ms-transform: translateX(1.5em);
   transform: translateX(1.5em);
 }

}

@-o-keyframes slide {
 to {
   -o-transform: translateX(1.5em);
   transform: translateX(1.5em);
 }

}




.loading-div{
  width: 16px !important;
  height: 16px !important;
}


.loader {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #0cf;
  border-radius: 50%;

  .animation(spin 0.75s infinite linear);
}
.loader::before,
.loader::after {
  left: -2px;
  top: -2px;
  display: none;
  position: absolute;
  content: '';
  width: inherit;
  height: inherit;
  border: inherit;
  border-radius: inherit;
}


/*
 * LOADER 1
 */
.loader-1 {
  border-top-width: 0;
}


/*
 * LOADER 2
 */
.loader-2 {
  border-top-color: transparent;
}
.loader-2::after {
  display: block;
  left: -2px;
  top: -2px;
  border: inherit;
  .rotate(65deg);
}


/*
 * LOADER 3
 */
.loader-3,
.loader-3::before,
.loader-3::after {
  display: inline-block;
  border-color: transparent;
  border-top-color: #0cf;
  .animation-duration (1.2s);
}
.loader-3::before {
  .rotate(120deg);
}
.loader-3::after {
  .rotate(240deg);
}


/*
 * LOADER 4
 */
.loader-4 {
  border-top-color: transparent;
}
.loader-4::after {
  display: block;
  border-color: transparent;
  border-top-color: #0cf;
  .animation(spin 1.25s infinite linear reverse);
}


/*
 * LOADER 5
 */
.loader-5,
.loader-5::before {
  display: inline-block;
  border-color: transparent;
  border-top-color: #0cf;
}
.loader-5::before {
  .animation (spin 1.5s infinite ease);
}


/*
 * LOADER 6
 */
.loader-6 {
  border-color: transparent;
  border-top-color: #0cf;
  .animation-duration (3s);
}
.loader-6::after {
  display: block;
  border-color: transparent;
  border-top-color: #0cf;
  .animation (spin 0.75s infinite ease-in-out alternate);
}

@-webkit-keyframes spin {
  from {
    .rotate(0deg);
  }
  to {
    .rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    .rotate(0deg);
  }
  to {
    .rotate(360deg);
  }
}
@-ms-keyframes spin {
  from {
    .rotate(0deg);
  }
  to {
    .rotate(360deg);
  }
}
@-o-keyframes spin {
  from {
    .rotate(0deg);
  }
  to {
    .rotate(360deg);
  }
}
@keyframes spin {
  from {
    .rotate(0deg);
  }
  to {
    .rotate(360deg);
  }
}