@import "normalize.css";
@import "main.css";
@import "../fonts/font-awesome/css/font-awesome.css";
@import "../fonts/serai-moments/style.css";
@import "../plugins/jquery.tooltipster/tooltipster.css";
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.neat-edit-box p:focus {
  outline: none;
}
.neat-edit-box {
  position: relative;
  display: block;
}
.neat-edit-box p {
  z-index: 2;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}
.neat-edit-box p.placeholder {
  opacity: 0.5;
  position: absolute;
  z-index: 1;
  top: 0;
  white-space: nowrap;
  transition: all 0.3s;
}
.neat-edit-box p.placeholder.label {
  top: -1.4em;
  left: 0;
  font-size: 0.8em;
  opacity: 0.7;
}
.location-suggests {
  border: 1px solid #eee;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  width: 100%;
  display: none;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2001;
}
.location-suggests {
  max-height: 280px;
  overflow-y: auto;
}
.location-suggests li {
  cursor: pointer;
  list-style: none;
  padding: 3px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: capitalize;
  background-color: #fff;
  position: relative;
}
.location-suggests li.li-moment-item {
  padding-left: 100px;
}
.location-suggests li.li-moment-item span {
  left: 10px;
  position: absolute;
  text-transform: uppercase;
  font-size: 12px;
  color: #aaa;
  font-weight: bold;
}
.location-suggests li.li-moment-item.li-item-active {
  background-color: #61caff;
  color: #fff;
}
.location-suggests li.li-moment-item.li-item-active span {
  color: #eee;
}
.location-suggests li.li-place-item i {
  font-style: normal;
  color: #bbb;
}
.location-suggests li.li-place-item.li-item-active {
  background-color: #61caff;
  color: #fff;
}
.location-suggests li.li-message {
  background-color: #efefef;
  text-transform: none;
}
.location-suggests li.li-message.li-item-active {
  background-color: #efefef;
  color: auto;
}
.location-suggests li.li-place-message {
  position: absolute;
  width: 100%;
  top: 100%;
  background-color: #efefef !important;
  text-transform: none;
  box-shadow: 0 0 0 2px #eeeeee, 0 4px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #eee;
  border-top: none;
}
.location-suggests li:nth-child(even) {
  background-color: #f6fff6;
}
.loading-indicator {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -8px;
  z-index: 2001;
}
.moment-type-selection {
  position: relative;
}
.moment-type-selection input {
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  border: none;
  padding: 5px 0;
}
.moment-suggest-container {
  position: absolute;
  top: 100%;
  width: 100%;
  max-height: 250px;
  *zoom: 1;
  z-index: 10;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  overflow-x: hidden;
  display: none;
  color: #444;
}
.moment-suggest-container:before,
.moment-suggest-container:after {
  display: table;
  content: "";
  line-height: 0;
}
.moment-suggest-container:after {
  clear: both;
}
.moment-suggest-ul {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #eee;
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
  background-color: #fff;
  padding: 0;
  margin: 0;
}
.moment-suggest-ul .li-item {
  list-style: none;
  padding: 5px 10px 6px;
  position: relative;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.moment-suggest-ul .li-item:nth-child(2n+1) {
  background-color: #f7f7f7;
}
.moment-suggest-ul .li-item.active {
  background-color: #E0F8D8 !important;
}
.moment-suggest-ul .li-item.active:after {
  -webkit-transform: rotate(45deg) translate(2px, -2px);
}
.moment-suggest-ul.child-shown {
  width: 350px;
}
.moment-suggest-ul .li-item-category {
  font-weight: bold;
  color: #999;
  font-size: 13px;
}
.moment-suggest-ul .li-item-subcategory {
  color: #999;
  font-size: 12px;
}
.moment-suggest-ul .li-item-subcategory span.title {
  color: #333;
  font-size: 13px;
}
.moment-suggest-ul .li-item-subcategory span.category {
  font-weight: bold;
}
.moment-parent-type {
  position: relative;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.moment-parent-type:after {
  content: '';
  display: block;
  height: 6px;
  width: 6px;
  border-right: solid 1px #c7c7cc;
  border-top: solid 1px #c7c7cc;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  float: right;
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 15px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.moment-child-suggest-ul {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  left: 450px;
  width: 0;
  border: 1px solid #eee;
  opacity: 0;
  visibility: hidden;
  height: 250px;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.moment-child-suggest-ul .li-item {
  list-style: none;
  padding: 5px 10px 6px;
  position: relative;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.moment-child-suggest-ul .li-item:nth-child(2n+1) {
  background-color: #f7f7f7;
}
.moment-child-suggest-ul .moment-child-type.active {
  background-color: #D1EEFC;
}
.moment-child-suggest-ul.is-shown {
  opacity: 1;
  visibility: visible;
  left: 350px;
  width: calc(100% - 350px);
}
.moment-suggest-ul,
.moment-child-suggest-ul {
  display: inline-block;
  vertical-align: top;
}
.moment-suggest-ul .li-item,
.moment-child-suggest-ul .li-item {
  line-height: 1;
}
.moment-suggest-add {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background-color: #fff;
  padding: 5px 15px;
  font-size: 12px;
  color: #00b48b;
  background-color: #f5f5f5;
  font-weight: bold;
  border-radius: 5px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.moment-suggest-add.shown {
  opacity: 1;
  filter: alpha(opacity=100);
}
.no-results-message {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px;
  font-size: 13px;
}
.selected-moment-types {
  text-align: center;
}
.selected-moment-types .selected-moment-type {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  position: relative;
  padding: 0 10px 20px;
}
.selected-moment-types .selected-moment-type:hover i.fa {
  opacity: 1;
}
.selected-moment-types .selected-moment-type i.fa {
  color: #ee005f;
  font-size: 18px;
  position: absolute;
  right: 0;
  top: -10px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.selected-moment-types .selected-moment-type i.moment-icon {
  font-size: 42px;
  background-color: #0081dc;
}
.selected-moment-types .selected-moment-type .moment-category {
  font-size: 13px;
  margin: 4px 0 -3px;
}
.selected-moment-types .selected-moment-type .moment-subcategory {
  font-size: 14px;
  font-weight: bold;
}
/*.moment-flat-suggest-ul{
	.box-sizing(border-box);
	position: absolute;
	top: 100%;
	border: 1px solid #eee;
	width: 100%;
	max-height: @suggest-height;
	overflow-y: auto;
	.transition(width 0.5s);
	.li-item{
		padding: 5px 10px 6px;
		position: relative;
		cursor: pointer;
		.transition(background-color 0.3s);
		&:nth-child(2n+1){
			background-color: #f7f7f7;
		}
		&.active{
			background-color: #D1EEFC;
			&:after{
				-webkit-transform: rotate(45deg) translate(2px,-2px);
			}
		}
		&.li-item-category{
			font-weight: bold;
			color: #999;
			font-size: 13px;
		}
		&.li-item-subcategory{
			color: #999;
			font-size: 12px;
			span.title{
				color: #333;
				font-size: 13px;
			}
			span.category{
				font-weight: bold;
			}
		}
	}
}*/
.body {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}
.trip-index {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 100%;
}
.trip-index .inner-block {
  position: absolute;
  width: 100%;
  top: 100px;
  margin: auto;
  height: 292px;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.trip-index .inner-block .spinner {
  width: 100px;
  height: 50px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 120px;
  margin: auto;
}
.trip-index .inner-block .spinner > div {
  background-color: #45A7F3;
  height: 100%;
  width: 5px;
}
.trip-index .head-text {
  text-align: center;
  font-size: 38px;
  font-weight: 200;
}
.trip-index .top {
  position: absolute;
  min-height: 50%;
  width: 100%;
}
.trip-index .bottom {
  position: absolute;
  height: 50%;
  top: 50%;
  width: 100%;
}
.trip-index .total-photos {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: #898989;
}
.trip-index .profile-pic {
  width: 92px;
  height: 92px;
  border: 4px solid #45A7F3;
  border-radius: 100px;
  overflow: hidden;
  position: absolute;
  top: 196px;
  margin: auto;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: top 1s linear 0s;
  -moz-transition: top 1s linear 0s;
  -o-transition: top 1s linear 0s;
  transition: top 1s linear 0s;
}
.trip-index .profile-pic img {
  opacity: 0;
  width: 100%;
}
.trip-index .user-meta {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 135px;
  font-size: 23px;
  font-weight: 200;
  opacity: 0;
}
.trip-index.loaded .profile-pic {
  opacity: 1;
  top: 30px;
}
.trip-index.loaded .profile-pic img {
  opacity: 1;
}
.trip-index.loaded .inner-block {
  opacity: 0;
}
.trip-index.loaded .user-meta {
  -webkit-transition: all 1s linear 1s;
  -moz-transition: all 1s linear 1s;
  -o-transition: all 1s linear 1s;
  transition: all 1s linear 1s;
  top: 140px;
  opacity: 1;
}
.trip-index.loaded .trip-list {
  opacity: 1;
}
.image-fetch {
  position: relative;
  top: 0;
  left: 0;
  height: 100px;
  overflow: hidden;
  width: 100px;
  right: 0;
  bottom: 0;
  margin: auto;
}
.image-fetch .top-outer {
  position: absolute;
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.image-fetch .top-outer .top-outer-circle {
  border-radius: 50px;
  border-width: 50px;
  border-color: #45A7F3 #FFF #FFF #45A7F3;
  border-style: solid;
}
.image-fetch .bottom-outer {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 50%;
  overflow: hidden;
}
.image-fetch .bottom-outer .bottom-outer-circle {
  border-radius: 50px;
  border-width: 50px;
  border-color: #FFF #45A7F3 #45A7F3 #FFF;
  border-style: solid;
  top: -100%;
  position: absolute;
}
.image-fetch .top-outer-circle,
.image-fetch .bottom-outer-circle {
  border-radius: 50px;
  border-width: 50px;
  border-color: #45A7F3 #FFF #FFF #45A7F3;
  border-style: solid;
  -webkit-transform: rotate(-135deg);
  position: absolute;
}
.image-fetch .inner-circle {
  border-radius: 100px;
  border-color: #FFF #FFF #FFF #FFF;
  border-style: solid;
  -webkit-transform: rotate(0deg);
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  right: 0;
  bottom: 0;
  height: 90px;
  width: 90px;
  margin: auto;
  border-width: 1px;
  background-color: #fff;
}
.image-fetch .inner-circle img {
  width: 100%;
}
.trip-index .user-info {
  text-align: center;
  margin-top: 32px;
}
.trip-index .user-info .profile-pic-large {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #eee;
  overflow: hidden;
  display: block;
  margin: 0 auto;
}
.trip-index .user-info .profile-pic-large img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.trip-index .user-info .user-meta .title {
  font-size: 24px;
  font-weight: 200;
  padding: 5px 0;
  margin: 6px 0 0 0;
}
.trip-index .banner {
  position: absolute;
  z-index: 10;
  background-color: #e1365c;
  padding: 2px 20px;
  color: #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: -28px;
  top: 25px;
  font-size: 12px;
  font-weight: bold;
}
.trip-index .trip-list {
  width: 1130px;
  margin: auto;
  overflow: hidden;
  text-align: center;
  padding-top: 185px;
  opacity: 0;
  -webkit-transition: opacity 1s linear 2s;
  -moz-transition: opacity 1s linear 2s;
  -o-transition: opacity 1s linear 2s;
  transition: opacity 1s linear 2s;
}
.trip-index .trip-list a {
  color: #555;
}
.trip-index .trip-list .block-title {
  font-size: 23px;
  padding: 10px 0;
  margin: 0;
  font-weight: normal;
}
.trip-index .trip-list .trip-header-cover {
  width: 100%;
  height: 150px;
  background: #333333 no-repeat center center;
  background-size: cover;
  position: relative;
}
.trip-index .trip-list .trip-header-cover:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.16);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.8));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.8));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.8));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.8));
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
  z-index: 0;
  content: '';
}
.trip-index .trip-list .pictures {
  position: absolute;
  bottom: 0;
  width: 200px;
}
.trip-index .trip-list .pictures img {
  float: left;
  width: 50px;
  height: 50px;
}
.trip-index .trip-list .pictures:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
}
.trip-index .trip-list .trip-item {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 10px 13px;
  width: 200px;
  height: 300px;
  border: 1px solid #DFDFDF;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  /*.trip-date{
				position: absolute;
				text-align: center;
				padding: 10px 0;
				font-size: 18px;
				font-weight: 300;
				left: 0;
				right: 0;
				top: 70px;
				.month{
					font-size: 14px;
				}
				.year{
					display: block;
					font-size: 23px;
					margin-top: 8px
				}
			}*/
}
.trip-index .trip-list .trip-item.published .trip-header-cover {
  height: 100%;
}
.trip-index .trip-list .trip-item.published .photos-count {
  top: auto;
  bottom: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}
.trip-index .trip-list .trip-item .photos-count {
  color: #fff;
  position: absolute;
  text-align: center;
  padding: 10px 0;
  font-weight: 400;
  top: 115px;
  font-size: 12px;
  left: 0;
  right: 0;
}
.trip-index .trip-list .trip-item .trip-title {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.46);
  text-align: center;
  padding: 10px 0;
  color: #EFEFEF;
  font-size: 22px;
  font-weight: 200;
  line-height: 1.3;
  top: 20px;
  z-index: 5;
}
.trip-index .trip-list .trip-item .trip-title small {
  font-size: 12px;
  display: block;
}
.import-process {
  text-align: center;
  width: 800px;
  margin: 0px auto;
  background-color: #F5F5F5;
  border: 1px solid #ECECEC;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 0 1px #ffffff inset;
  box-shadow: 0 0 0 1px #ffffff inset;
}
.import-process .head {
  font-size: 24px;
  margin: 30px 0 15px;
  font-weight: 400;
}
.import-process .subtext {
  font-size: 16px;
}
.import-process .message {
  font-size: 14px;
  font-weight: bold;
  color: #777;
}
.spinner {
  margin: 40px auto 10px;
  width: 100px;
  height: 50px;
  text-align: center;
  font-size: 10px;
}
.spinner > div {
  background-color: #45A7F3;
  height: 100%;
  width: 9px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.spinner .rect6 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.spinner .rect7 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.spinner .rect8 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
@-webkit-keyframes stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.3);
  }
  20% {
    -webkit-transform: scaleY(0.8);
  }
}
@keyframes stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.3);
    -webkit-transform: scaleY(0.3);
  }
  20% {
    transform: scaleY(0.8);
    -webkit-transform: scaleY(0.8);
  }
}
#header {
  -webkit-perspective: 1600px;
  -webkit-transition: height 0.2s linear;
  -moz-transition: height 0.2s linear;
  -o-transition: height 0.2s linear;
  transition: height 0.2s linear;
}
#header.active .header-inner {
  -webkit-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
#header.active .manage-options {
  background-color: #ff466a;
}
.header-inner {
  -webkit-transition: -webkit-transform 0.33s;
  transition: transform .33s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective-origin: 50% 0;
  -moz-perspective-origin: 50% 0;
  perspective-origin: 50% 0;
  height: 100%;
  color: #fff;
  -webkit-animation: hideManageOptions 0.5s forwards ease;
  -moz-animation: hideManageOptions 0.5s forwards ease;
  -o-animation: hideManageOptions 0.5s forwards ease;
  -ms-animation: hideManageOptions 0.5s forwards ease;
  animation: hideManageOptions 0.5s forwards ease;
}
.header-inner .trip-options {
  -webkit-transform: translateZ(25px);
  transform: translateZ(25px);
  text-align: center;
  height: 100%;
}
.header-inner .trip-options .home-link {
  display: inline-block;
  color: #fff;
  font-size: 32px;
  padding: 3px 8px 5px;
  margin: 5px 0 0 15px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  float: left;
}
.header-inner .manage-options {
  position: absolute;
  overflow: hidden;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  height: 100%;
  background-color: transparent;
  -webkit-transform: rotateX(-90deg) translateZ(-25px);
  transform: rotateX(-90deg) translateZ(-25px);
  -webkit-transition: top 0.3s linear,opacity 0.3s linear;
  -moz-transition: top 0.3s linear,opacity 0.3s linear;
  -o-transition: top 0.3s linear,opacity 0.3s linear;
  transition: top 0.3s linear,opacity 0.3s linear;
}
.header-inner .manage-options .left-section {
  width: 200px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}
.header-inner .manage-options .middle-section {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  width: calc(100% - 345px);
  display: inline-block;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.header-inner .manage-options .middle-section .options {
  display: inline-block;
  padding: 15px 10px;
  margin: 0 5px;
  cursor: pointer;
}
.header-inner .manage-options .right-section {
  width: 133px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  position: relative;
  padding: 0 0px;
  box-sizing: border-box;
  line-height: 50px;
  cursor: pointer;
}
.trip-header {
  padding-top: 50px;
  width: 100%;
  height: 70%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #1d80b1;
  background-image: -moz-linear-gradient(top, #28a6e3, #0d4865);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#28a6e3), to(#0d4865));
  background-image: -webkit-linear-gradient(top, #28a6e3, #0d4865);
  background-image: -o-linear-gradient(top, #28a6e3, #0d4865);
  background-image: linear-gradient(to bottom, #28a6e3, #0d4865);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff28a6e3', endColorstr='#ff0d4865', GradientType=0);
  color: #fff;
}
.trip-header .container {
  position: relative;
  z-index: 1;
}
.trip-header h1.trip-title {
  margin: 100px 0 30px;
  font-size: 64px;
  line-height: 1.2;
  font-family: "Helvetica Neue", sans-serif;
}
.trip-header h2.trip-about {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.3;
}
.trip-header.has-cover h1.trip-title {
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
}
.trip-header.has-cover h2.trip-about {
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}
.moment-header.has-cover,
.trip-header.has-cover {
  color: white;
  background-color: #363636;
  background-image: -moz-linear-gradient(top, #555555, #080808);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#080808));
  background-image: -webkit-linear-gradient(top, #555555, #080808);
  background-image: -o-linear-gradient(top, #555555, #080808);
  background-image: linear-gradient(to bottom, #555555, #080808);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555', endColorstr='#ff080808', GradientType=0);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.moment-header.has-cover:before,
.trip-header.has-cover:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.1)), color-stop(80%, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.8)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0.8));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0.8));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0.8));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3) 80%, rgba(0, 0, 0, 0.8));
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a000000', endColorstr='#cc000000', GradientType=0);
  content: '';
  top: 0;
  left: 0;
}
.moment-header.has-cover input,
.trip-header.has-cover input {
  color: #fff;
  background: transparent;
}
.moment-header:hover .change-moment-cover,
.trip-header:hover .change-moment-cover {
  opacity: 0.5;
}
.moment-header:hover .change-trip-cover,
.trip-header:hover .change-trip-cover {
  opacity: 0.5;
}
.moment-header {
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 2px;
}
.moment-header.has-cover {
  padding: 20px 20px 40px 20px;
}
.moment-header .moment-type-selection input {
  text-align: center;
}
.trip-body {
  position: absolute;
  top: 70%;
  width: 100%;
}
.moment-container {
  margin: 40px 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #eee;
  position: relative;
}
.moment-container .moment-location {
  float: right;
  font-size: 24px;
  margin-top: 15px;
  position: relative;
}
.moment-container .moment-location .location-suggest {
  display: inline-block;
  margin: 0;
  width: 260px;
  border-width: 0;
  margin-right: 20px;
  outline: none;
}
.moment-container .moment-location .loader {
  position: absolute;
}
.moment-container .moment-location:before {
  font-family: FontAwesome;
  content: "\f041";
  position: absolute;
  left: -20px;
  top: 5px;
  color: #999;
}
.moment-container h3.moment-title {
  margin: 0 0 25px;
  font-size: 42px;
  line-height: 1.2;
  font-family: "Helvetica Neue", sans-serif;
  margin-right: 300px;
  position: relative;
}
.moment-container h4.moment-about {
  font-weight: normal;
  font-size: 24px;
  margin: 0 0 25px;
  line-height: 1.2;
  position: relative;
}
.moment-container .moment-type {
  font-size: 18px;
  margin-bottom: 25px;
}
.moment-container .photos-container {
  *zoom: 1;
  position: relative;
}
.moment-container .photos-container:before,
.moment-container .photos-container:after {
  display: table;
  content: "";
  line-height: 0;
}
.moment-container .photos-container:after {
  clear: both;
}
.moment-container .photos-container .photo-container {
  float: left;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.moment-container .photos-container .photo-container .image-button {
  position: absolute;
  right: 1px;
  top: 1px;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 4px 10px;
  cursor: pointer;
  z-index: 1;
  display: none;
}
.moment-container .photos-container .photo-container .photo-zoom {
  right: 38px;
}
.moment-container .photos-container .photo-container .split-moment {
  font-weight: bold;
}
.moment-container .photos-container .photo-container .split-moment.active {
  background-color: #ea4569;
  display: block;
}
.moment-container .photos-container .photo-container .image-thumb {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0px solid #ff4c71;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  -o-transition: border 0.5s;
  transition: border 0.5s;
}
.moment-container .photos-container .photo-container.selected .image-thumb {
  border: 3px solid #ff4c71;
  -webkit-animation: photoEditMode 0.5s forwards ease;
  -moz-animation: photoEditMode 0.5s forwards ease;
  -o-animation: photoEditMode 0.5s forwards ease;
  -ms-animation: photoEditMode 0.5s forwards ease;
  animation: photoEditMode 0.5s forwards ease;
}
.moment-container .photos-container .photo-container .undo-button {
  display: none;
}
.moment-container .photos-container .photo-container:hover .photo-zoom,
.moment-container .photos-container .photo-container:hover .split-moment {
  display: block;
}
.moment-container .photos-container .picrow .photo-container:last-child {
  margin-right: 0 !important;
}
.moment-container .photos-container .deleted {
  -webkit-transform: scale(0.96);
  -moz-transform: scale(0.96);
  -ms-transform: scale(0.96);
  -o-transform: scale(0.96);
  transform: scale(0.96);
}
.moment-container .photos-container .deleted .image-thumb {
  opacity: 0.2;
}
.moment-container .photos-container .deleted .split-moment.active {
  display: none;
}
.moment-container .photos-container .deleted:hover .photo-zoom,
.moment-container .photos-container .deleted:hover .split-moment,
.moment-container .photos-container .deleted:hover .active {
  display: none;
}
.moment-container .photos-container .deleted .undo-button {
  display: block;
}
.moment-container .photos-container .image-thumb {
  background-color: #f5f5f5;
}
.moment-deleted {
  font-size: 24px;
  color: #999;
  padding-bottom: 20px;
}
.moment-deleted a.undo-moment-delete {
  float: right;
  color: #999;
}
.moment-deleted a.undo-moment-delete:hover {
  color: #333333;
}
.moment-icon {
  background-color: #3BAEE5;
  font-size: 1.4em;
  margin: -4px 0;
}
.header-button {
  margin: 8px 25px 0 0;
  float: right;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 5px 25px;
  background-color: #222;
  text-decoration: none;
  position: relative;
}
.header-button .bubble {
  display: none;
  position: absolute;
  text-align: center;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  min-width: 20px;
  min-height: 20px;
  border-radius: 20px;
  background-color: #ff4c71;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
}
.header-button.inactive {
  border-color: #ccc;
  color: #ccc;
}
.header-button.inactive .bubble {
  display: block;
}
.header-button.change-trip-cover,
.header-button.change-moment-cover {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin: 0;
  opacity: 1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  /*&:hover{
			opacity: 1;
		}*/
}
.error-list {
  position: absolute;
  right: 15px;
  top: 50px;
  background-color: #222;
  width: 300px;
  border-radius: 5px;
}
.error-list:before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top: -10px;
  border-style: solid;
  border-width: 0 6px 10.4px 6px;
  border-color: transparent transparent #000 transparent;
}
.error-list .error-list-header {
  padding: 4px 10px;
  background-color: #000;
  border-radius: 5px 5px 0 0;
  text-align: left;
}
.error-list .error-list-header a {
  float: right;
  color: #ccc;
  font-size: 12px;
}
.error-list .error-list-ul {
  font-size: 13px;
  text-align: left;
  padding: 3px 0;
}
.error-list .error-list-ul li {
  list-style: none;
  padding: 3px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.error-list .error-list-ul a {
  color: #fff;
  text-decoration: none;
}
body.show-modal {
  height: 100%;
  overflow: hidden;
}
body.show-modal .modal {
  -webkit-animation: showModal 1s forwards ease;
  -moz-animation: showModal 1s forwards ease;
  -o-animation: showModal 1s forwards ease;
  -ms-animation: showModal 1s forwards ease;
  animation: showModal 1s forwards ease;
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 47, 47, 0.98);
  z-index: 10;
  top: 0;
  font-weight: 200;
  color: #fff;
  overflow: auto;
  -webkit-animation: hideModal 0.8s forwards ease;
  -moz-animation: hideModal 0.8s forwards ease;
  -o-animation: hideModal 0.8s forwards ease;
  -ms-animation: hideModal 0.8s forwards ease;
  animation: hideModal 0.8s forwards ease;
  /*&.show{
		.animation(showModal 1s forwards ease);

	}*/
}
.modal .modal-close {
  position: fixed;
  right: 8px;
  top: 0px;
  font-size: 27px;
  cursor: pointer;
  padding: 10px 20px;
  z-index: 11;
}
.modal .modal-body {
  position: fixed;
  padding: 60px 0 20px;
  height: 100%;
  overflow-y: auto;
  width: 100%;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.modal .modal-body .container {
  height: 100%;
}
.modal .modal-head {
  background-color: rgba(34, 34, 34, 0.87);
  height: 48px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding-right: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 10;
}
.modal h1 {
  font-weight: 300;
  margin-top: 0;
  padding-top: 0.3em;
}
.modal .modal-inner {
  width: 1130px;
  margin: auto;
  height: 100%;
}
.modal .modal-inner .selector {
  z-index: 10;
}
.modal .modal-inner .hide {
  display: none;
}
.modal .modal-inner h2 {
  font-size: 24px;
  font-weight: 200;
  text-align: center;
  color: #CFCFCF;
}
.modal .modal-inner .modal-header {
  height: 215px;
  overflow: hidden;
}
.modal .modal-inner .modal-header .selected-pic-block .selected-pic {
  white-space: nowrap;
  overflow: auto;
  height: 105px;
}
.modal .modal-inner .modal-header .reorded-pic-block {
  font-size: 24px;
  font-weight: 200;
  text-align: center;
  color: #CFCFCF;
}
.modal .modal-inner .modal-header .reorded-pic-block .reorder {
  padding: 10px;
  margin-top: 50px;
}
.modal .modal-inner .modal-header .reorded-pic-block .button {
  margin-top: 30px;
}
.modal .modal-inner .modal-header .reorded-pic-block span.modal-button {
  float: none;
  display: inline-block;
  font-size: 14px;
}
.modal .modal-inner .all-moments {
  overflow: auto;
}
.modal .modal-inner .all-moments .modal-photos-container {
  margin-bottom: 5px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 5px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: auto;
  width: 99%;
}
.modal .modal-inner .all-moments .modal-photos-container:hover {
  border: 1px solid #fff;
}
.modal .modal-inner .all-moments .modal-photos-container.unselect img {
  opacity: 0.1;
}
.modal .modal-inner .all-moments .modal-photos-container img {
  height: 50px;
  margin: 0 5px 0px 0;
  border: 1px solid #5A5A5A;
}
.modal .modal-inner .selected-pic ul {
  text-align: center;
}
.modal .modal-inner .selected-pic .modal-selected-photo {
  height: 100px;
  display: inline-block;
  border: 1px solid #999;
}
.modal .modal-inner .selected-pic .modal-selected-photo img {
  height: 100%;
}
.modal .dummyPhoto {
  opacity: 1;
  width: 100px;
  height: 100px;
  position: fixed;
}
.moment-container:hover .buttons-container {
  visibility: visible;
  opacity: 1;
}
.left-button-section {
  position: absolute;
  left: -50px;
  height: 100%;
  top: 0;
  z-index: 5;
}
.buttons-container {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn {
  border: 1px solid #fd7291;
  background-color: #fd7291;
  color: #fff;
  padding: 5px 20px;
  border-radius: 15px;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #ff4c71;
}
.btn:active {
  background-color: #ea4569;
}
.buttons-in-header {
  width: 50px;
  margin-top: 10px;
}
.buttons-in-header .btn {
  width: 45px;
  height: 45px;
  padding: 0;
  display: block;
  border-radius: 5px;
  font-size: 24px;
  margin-bottom: 10px;
}
.buttons-in-footer {
  text-align: center;
  margin: 20px 0;
}
.reorder-image .reorder-photo-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
}
.reorder-image .reorder-photo-container .reorder-image-thumb {
  vertical-align: middle;
  float: left;
  height: 100px;
  margin: 1px;
  background-color: #444;
}
.modal-button {
  padding: 5px 15px 6px;
  margin-bottom: 10px;
  background-color: #000;
  border: 1px solid #fff;
  display: block;
  text-align: center;
  position: relative;
  margin-right: 10px;
  top: 7px;
  cursor: pointer;
  z-index: 1;
  border-radius: 20px;
  font-weight: 400;
  float: right;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.modal-button:hover {
  color: #333;
  background-color: #fff;
}
.choose-cover-image {
  width: 1130px;
  margin: auto;
}
.choose-cover-image-thumb {
  height: 120px;
  margin: 0px;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0);
}
.choose-cover-image-thumb.selected {
  border: 2px solid #ea4569;
}
.choose-cover-image-thumb:first-child {
  margin-left: 0px;
}
.choose-cover-image-thumb:last-child {
  margin-right: 0px;
}
@-webkit-keyframes showModal {
  0% {
    opacity: 0;
    display: block;
  }
  1% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.05);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes showModal {
  0% {
    opacity: 0;
    display: block;
  }
  1% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.05);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-ms-keyframes showModal {
  0% {
    opacity: 0;
    display: block;
  }
  1% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.05);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes showModal {
  0% {
    opacity: 0;
    display: block;
  }
  1% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.05);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@keyframes showModal {
  0% {
    opacity: 0;
    display: block;
  }
  1% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.05);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes hideModal {
  1% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
    visibility: visible;
  }
  100% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
@-moz-keyframes hideModal {
  1% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
    visibility: visible;
  }
  100% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
@-o-keyframes hideModal {
  1% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
    visibility: visible;
  }
  100% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
@-ms-keyframes hideModal {
  1% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
    visibility: visible;
  }
  100% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
@keyframes hideModal {
  1% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
    visibility: visible;
  }
  100% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
@-webkit-keyframes photoEditMode {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
  }
  60% {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
  }
  80% {
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
    transform: scale(0.98);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes photoEditMode {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
  }
  60% {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
  }
  80% {
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
    transform: scale(0.98);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes photoEditMode {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
  }
  60% {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
  }
  80% {
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
    transform: scale(0.98);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes photoEditMode {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
  }
  60% {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
  }
  80% {
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
    transform: scale(0.98);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes photoEditMode {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
  }
  60% {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
  }
  80% {
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
    transform: scale(0.98);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.preview-photo-option .horizontal-loader {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.preview-photo-option.delete #big-photo-image {
  border: 5px solid #9D2603;
}
.preview-photo-option .big-photo {
  position: absolute;
  height: calc(100% - 80px);
  width: 100%;
  left: 0;
  top: 60px;
}
.preview-photo-option .big-photo .big-photo-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}
.preview-photo-option .big-photo .big-photo-image.animate {
  -webkit-transition: all 5s cubic-bezier(0.5, 0, 0.58, 1);
  -moz-transition: all 5s cubic-bezier(0.5, 0, 0.58, 1);
  -o-transition: all 5s cubic-bezier(0.5, 0, 0.58, 1);
  transition: all 5s cubic-bezier(0.5, 0, 0.58, 1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.preview-moment-photo-container {
  position: fixed;
  bottom: 3px;
  left: 2px;
  width: 100%;
  text-align: center;
  overflow-x: auto;
  white-space: nowrap;
}
.preview-moment-photo-container .preview-image-thumb {
  height: 80px;
  opacity: 0.7;
  border: 1px solid #222;
  display: none;
}
.preview-moment-photo-container .preview-image-thumb.selected {
  border: 1px solid #FFF;
  opacity: 1;
}
.new-moment-container {
  border: 1px dashed #888;
  padding: 10px;
  white-space: nowrap;
  cursor: move;
}
.new-moment-container .image-thumb {
  height: 80px;
}
.modal-moment-container {
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
}
.modal-moment-container .image-thumb {
  height: 50px;
}
.dummyMoment {
  position: fixed;
  z-index: 2;
  background-color: #000000;
}
/*.creation-done-btn{
	padding: 7px 15px;
	position: fixed;
	z-index: 2;
	right: 70px;
	top: 8px;
	border: 1px solid;
	background-color: #000;
	cursor: pointer;
}

*/
.trip-preview .trip-body {
  top: 95%;
}
.trip-preview .trip-header {
  height: 95%;
}
.trip-preview .moment-container {
  text-align: center;
}
.trip-preview .moment-container h3.moment-title {
  margin-right: 0;
}
.trip-preview .trip-options .message {
  position: absolute;
  left: 50%;
  top: 13px;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  color: #9affb2;
}
.trip-preview .moment-container {
  border-bottom: none;
}
.trip-preview .moment-container .moment-location {
  margin-top: 0;
  font-size: 18px;
}
.trip-preview .moment-container .moment-location:before {
  top: 0px;
}
.trip-preview .moment-container h3 {
  margin-top: 15px;
  clear: both;
}
.trip-preview .moment-header {
  padding-bottom: 20px;
}
/* change font size to change size */
.horizontal-loader {
  font-size: 20px;
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
}
.horizontal-loader .dot {
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background: #0cf;
  position: absolute;
  /*.animation(spin 1.25s infinite linear reverse);

    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;

    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;

    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;*/
}
.horizontal-loader .dot1,
.horizontal-loader .dot2 {
  left: 0;
}
.horizontal-loader .dot3 {
  left: 1.5em;
}
.horizontal-loader .dot4 {
  left: 3em;
}
.horizontal-loader .dot1 {
  -webkit-animation: reveal 0.5s infinite ease;
  -moz-animation: reveal 0.5s infinite ease;
  -o-animation: reveal 0.5s infinite ease;
  -ms-animation: reveal 0.5s infinite ease;
  animation: reveal 0.5s infinite ease;
  /*-webkit-animation-name: reveal;
    -moz-animation-name: reveal;
    -ms-animation-name: reveal;
    -o-animation-name: reveal;
    animation-name: reveal;*/
}
.horizontal-loader .dot2,
.horizontal-loader .dot3 {
  -webkit-animation: slide 0.5s infinite ease;
  -moz-animation: slide 0.5s infinite ease;
  -o-animation: slide 0.5s infinite ease;
  -ms-animation: slide 0.5s infinite ease;
  animation: slide 0.5s infinite ease;
  /*-webkit-animation-name: slide;
    -moz-animation-name: slide;
    -ms-animation-name: slide;
    -o-animation-name: slide;
    animation-name: slide;*/
}
.horizontal-loader .dot4 {
  -webkit-animation: reveal 0.5s infinite ease reverse;
  -moz-animation: reveal 0.5s infinite ease reverse;
  -o-animation: reveal 0.5s infinite ease reverse;
  -ms-animation: reveal 0.5s infinite ease reverse;
  animation: reveal 0.5s infinite ease reverse;
  /*-webkit-animation-name: reveal;
    -moz-animation-name: reveal;
    -ms-animation-name: reveal;
    -o-animation-name: reveal;
    animation-name: reveal;

    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    -ms-animation-direction: reverse;
    -o-animation-direction: reverse;
    animation-direction: reverse;*/
}
@keyframes reveal {
  from {
    -webkit-transform: scale(0.001);
    -moz-transform: scale(0.001);
    -o-transform: scale(0.001);
    -ms-transform: scale(0.001);
    transform: scale(0.001);
  }
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes reveal {
  from {
    -moz-transform: scale(0.001);
    transform: scale(0.001);
  }
  to {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes reveal {
  from {
    -webkit-transform: scale(0.001);
    transform: scale(0.001);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes reveal {
  from {
    -ms-transform: scale(0.001);
    transform: scale(0.001);
  }
  to {
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes reveal {
  from {
    -o-transform: scale(0.001);
    transform: scale(0.001);
  }
  to {
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes slide {
  to {
    -webkit-transform: translateX(1.5em);
    -moz-transform: translateX(1.5em);
    -o-transform: translateX(1.5em);
    -ms-transform: translateX(1.5em);
    transform: translateX(1.5em);
  }
}
@-moz-keyframes slide {
  to {
    -moz-transform: translateX(1.5em);
    transform: translateX(1.5em);
  }
}
@-webkit-keyframes slide {
  to {
    -webkit-transform: translateX(1.5em);
    transform: translateX(1.5em);
  }
}
@-ms-keyframes slide {
  to {
    -ms-transform: translateX(1.5em);
    transform: translateX(1.5em);
  }
}
@-o-keyframes slide {
  to {
    -o-transform: translateX(1.5em);
    transform: translateX(1.5em);
  }
}
.loading-div {
  width: 16px !important;
  height: 16px !important;
}
.loader {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #0cf;
  border-radius: 50%;
  -webkit-animation: spin 0.75s infinite linear;
  -moz-animation: spin 0.75s infinite linear;
  -o-animation: spin 0.75s infinite linear;
  -ms-animation: spin 0.75s infinite linear;
  animation: spin 0.75s infinite linear;
}
.loader::before,
.loader::after {
  left: -2px;
  top: -2px;
  display: none;
  position: absolute;
  content: '';
  width: inherit;
  height: inherit;
  border: inherit;
  border-radius: inherit;
}
/*
 * LOADER 1
 */
.loader-1 {
  border-top-width: 0;
}
/*
 * LOADER 2
 */
.loader-2 {
  border-top-color: transparent;
}
.loader-2::after {
  display: block;
  left: -2px;
  top: -2px;
  border: inherit;
  -webkit-transform: rotate(65deg);
  -moz-transform: rotate(65deg);
  -ms-transform: rotate(65deg);
  -o-transform: rotate(65deg);
  transform: rotate(65deg);
}
/*
 * LOADER 3
 */
.loader-3,
.loader-3::before,
.loader-3::after {
  display: inline-block;
  border-color: transparent;
  border-top-color: #0cf;
  animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
}
.loader-3::before {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
}
.loader-3::after {
  -webkit-transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  -o-transform: rotate(240deg);
  transform: rotate(240deg);
}
/*
 * LOADER 4
 */
.loader-4 {
  border-top-color: transparent;
}
.loader-4::after {
  display: block;
  border-color: transparent;
  border-top-color: #0cf;
  -webkit-animation: spin 1.25s infinite linear reverse;
  -moz-animation: spin 1.25s infinite linear reverse;
  -o-animation: spin 1.25s infinite linear reverse;
  -ms-animation: spin 1.25s infinite linear reverse;
  animation: spin 1.25s infinite linear reverse;
}
/*
 * LOADER 5
 */
.loader-5,
.loader-5::before {
  display: inline-block;
  border-color: transparent;
  border-top-color: #0cf;
}
.loader-5::before {
  -webkit-animation: spin 1.5s infinite ease;
  -moz-animation: spin 1.5s infinite ease;
  -o-animation: spin 1.5s infinite ease;
  -ms-animation: spin 1.5s infinite ease;
  animation: spin 1.5s infinite ease;
}
/*
 * LOADER 6
 */
.loader-6 {
  border-color: transparent;
  border-top-color: #0cf;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
}
.loader-6::after {
  display: block;
  border-color: transparent;
  border-top-color: #0cf;
  -webkit-animation: spin 0.75s infinite ease-in-out alternate;
  -moz-animation: spin 0.75s infinite ease-in-out alternate;
  -o-animation: spin 0.75s infinite ease-in-out alternate;
  -ms-animation: spin 0.75s infinite ease-in-out alternate;
  animation: spin 0.75s infinite ease-in-out alternate;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/**
 * General Styles
 */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #FFF;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.hide {
  display: none;
}
a {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
/**
 * Layout
 */
.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1130px;
}
#header {
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: rgba(14, 14, 14, 0.82);
  top: 0;
}
.trip-container {
  padding-top: 50px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/**
 * Trip Detail Page
 */
.selector {
  position: absolute;
  border: 1px dashed #555;
  background: #BCE;
  background-color: #BEC;
  border-color: #8B9;
  opacity: 0.5;
}
