@import "normalize.css";
@import "main.css";
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
@import "../fonts/font-awesome/css/font-awesome.css";
@import "../fonts/serai-moments/style.css";
@import "../plugins/jquery.tooltipster/tooltipster.css";
@import "neatedit-plugin.less";
@import "location-suggest.less";
@import "moment-type.v2.less";

@import "trip-index.less";
@import "trip-detail.less";
@import "trip-preview.less";

@import "spinner.less";

/**
 * General Styles
 */
 body {
	font-family: @sansFontFamily;
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
	color: @textColor;
	background-color: #FFF;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
.hide{
	display: none;
}
a{
	.transition(color 0.3s);
}


/**
 * Layout
 */
.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1130px;
}
#header{
	height: 50px;
	position: fixed;
	width: 100%;
	z-index: 10;
	background-color: rgba(14, 14, 14, 0.82);
	top: 0;
}
.trip-container{
	padding-top: 50px;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

/**
 * Trip Detail Page
 */

.selector {
  position: absolute;
  border: 1px dashed #555;
  background: #BCE;
  background-color: #BEC;
  border-color: #8B9;
  opacity: 0.5;
}

