.body{
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
}
.trip-index{
	position: absolute;
	left: 0;
	right: 0;
	min-height: 100%;

	.inner-block{
		position: absolute;
		width: 100%;
		top: 100px;
		margin: auto;
		height: 292px;
		.transition(opacity 0.5s);

		.spinner{
			width: 100px;
			height: 50px;
			text-align: center;
			font-size: 10px;
			position: absolute;
			left: 0;
			right: 0;
			top: 120px;
			margin: auto;
			& > div {
			  background-color: #45A7F3;
			  height: 100%;
			  width: 5px;
			}
		}
	}
	.head-text{
		text-align: center;
		font-size: 38px;
		font-weight: 200;
	}

	.top{
		position: absolute;
		min-height: 50%;
		width: 100%;

	}
	.bottom{
		position: absolute;
		height: 50%;
		top: 50%;
		width: 100%;
	}
	.total-photos{
		text-align: center;
		margin-top: 20px;
		font-size: 20px;
		color: #898989;
	}
	.profile-pic{
		width: 92px;
		height: 92px;
		border: 4px solid #45A7F3;
		border-radius: 100px;
		overflow: hidden;
		position: absolute;
		top: 196px;
		margin: auto;
		left: 0;
		right: 0;
		opacity: 0;
		.transition(top 1s linear 0s);
		img{
			opacity: 0;
			width: 100%;
		}
	}
	.user-meta{
		position: absolute;
		text-align: center;
		width: 100%;
		top: 135px;
		font-size: 23px;
		font-weight: 200;
		opacity: 0;


	}
	&.loaded{
		.profile-pic{
			opacity: 1;
			top:30px;
			img{
				opacity: 1;
			}
		}
		.inner-block{
			opacity: 0;
		}
		.user-meta{
			.transition(all 1s linear 1s);
			top: 140px;
			opacity: 1;
		}
		.trip-list{
			opacity: 1;
		}
	}
}


.image-fetch{
	position: relative;
	top: 0;
	left: 0;
	height: 100px;
	overflow: hidden;
	width: 100px;
	right: 0;
	bottom: 0;
	margin: auto;
	.top-outer{
		position: absolute;
		width: 100%;
		height: 50%;
		overflow: hidden;
		.top-outer-circle{
			border-radius: 50px;
			border-width: 50px;
			border-color: #45A7F3 #FFF #FFF #45A7F3;
			border-style: solid;
			// .transition(all 0.3s ease-out);
		}
	}
	.bottom-outer{
		position: absolute;
		width: 100%;
		height: 50%;
		top: 50%;
		overflow: hidden;
		.bottom-outer-circle{
			border-radius: 50px;
			border-width: 50px;
			border-color: #FFF #45A7F3 #45A7F3 #FFF;
			border-style: solid;
			top: -100%;
			position: absolute;
			// .transition(all 0.3s ease-out);
		}
	}
	.top-outer-circle,.bottom-outer-circle{
		border-radius: 50px;
		border-width: 50px;
		border-color: #45A7F3 #FFF #FFF #45A7F3;
		border-style: solid;
		-webkit-transform: rotate(-135deg);
		position: absolute;
	}
	.inner-circle{
		border-radius: 100px;
		border-color: #FFF #FFF #FFF #FFF;
		border-style: solid;
		-webkit-transform: rotate(0deg);
		position: absolute;
		left: 0;
		top: 0;
		overflow: hidden;
		right: 0;
		bottom: 0;
		height: 90px;
		width: 90px;
		margin: auto;
		border-width: 1px;
		background-color: #fff;
		img{
			width: 100%;
		}

	}
}

.trip-index{
	.user-info{
		text-align: center;
		margin-top: 32px;
		.profile-pic-large{
			.square(100px);
			border-radius: 50%;
			border: 1px solid #eee;
			overflow: hidden;
			display: block;
			margin: 0 auto;
			img {
				.square(100px);
				border-radius: 50%;
			}
		}
		.user-meta{
			.title {
				font-size: 24px;
				font-weight: 200;
				padding: 5px 0;
				margin: 6px 0 0 0;
			}
		}
	}
	.banner{
		position: absolute;
		z-index: 10;
		background-color: #e1365c;
		padding: 2px 20px;
		color: #fff;
		.rotate(-45deg);
		left: -28px;
		top: 25px;
		font-size: 12px;
		font-weight: bold;
	}
	.trip-list{
		width: 1130px;
		margin: auto;
		overflow: hidden;
		text-align: center;
		padding-top:185px;
		opacity: 0;
		.transition(opacity 1s linear 2s);
		a{
			color: #555;
		}
		.block-title {
			font-size: 23px;
			padding: 10px 0;
			margin: 0;
			font-weight: normal;
		}
		.trips-container-header{

		}
		.trip-header-cover{
			width: 100%;
			height: 150px;
			background: #333 no-repeat center center;
			background-size: cover;
			position: relative;
			&:before{
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				#gradient > .vertical-three-colors( rgba(0,0,0,0), rgba(0,0,0,0), 80%, rgba(0,0,0,0.8));
				z-index: 0;
				content: '';
			}
		}
		.pictures{
			position: absolute;
			bottom: 0;
			width: 200px;

			img{
				float: left;
				width: 50px;
				height: 50px;
			}
			&:before{
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				z-index: 1;
				content: '';
				background-color: rgba(0, 0, 0, 0.4);
			}
		}
		.trip-item {
			display: inline-block;
			position: relative;
			overflow: hidden;
			margin: 10px 13px;
			width: 200px;
			height: 300px;
			border: 1px solid #DFDFDF;
			cursor: pointer;
			.transition(all 0.3s);
			&.published{
				.trip-header-cover{
					height: 100%;
				}
				.trip-title{

				}
				.photos-count{
					top: auto;
					bottom: 20px;
					background-color: rgba(0,0,0,0.3);
				}
			}
			/*.trip-date{
				position: absolute;
				text-align: center;
				padding: 10px 0;
				font-size: 18px;
				font-weight: 300;
				left: 0;
				right: 0;
				top: 70px;
				.month{
					font-size: 14px;
				}
				.year{
					display: block;
					font-size: 23px;
					margin-top: 8px
				}
			}*/
			.photos-count{
				color: #fff;
				position: absolute;
				text-align: center;
				padding: 10px 0;
				font-weight: 400;
				top: 115px;
				font-size: 12px;
				left: 0;
				right: 0;
			}
			.trip-title {
				position: absolute;
				left: 0;
				width: 100%;
				background-color: rgba(0, 0, 0, 0.46);
				text-align: center;
				padding: 10px 0;
				color: #EFEFEF;
				font-size: 22px;
				font-weight: 200;
				line-height: 1.3;
				top: 20px;
				z-index: 5;
				small{
					font-size: 12px;
					display: block;
				}
			}
		}
	}
}

.import-process{
	text-align: center;
	width: 800px;
	margin: 0px auto;
	background-color: #F5F5F5;
	border: 1px solid #ECECEC;
	border-radius: 5px;
	.box-shadow(0 0 0 1px #fff inset);
	.head{
		font-size: 24px;
		margin: 30px 0 15px;
		font-weight: 400;
	}
	.subtext{
		font-size: 16px;
	}
	.message{
		font-size: 14px;
		font-weight: bold;
		color: #777;
	}
}
.spinner {
  margin: 40px auto 10px;
  width: 100px;
  height: 50px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #45A7F3;
  height: 100%;
  width: 9px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.spinner .rect6 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.spinner .rect7 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.spinner .rect8 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.3) }
  20% { -webkit-transform: scaleY(0.8) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
	transform: scaleY(0.3);
	-webkit-transform: scaleY(0.3);
  }  20% {
	transform: scaleY(0.8);
	-webkit-transform: scaleY(0.8);
  }
}