.trip-preview{
	.trip-body{
		top: 95%;
	}
	.trip-header{
		height: 95%;
	}
	.moment-container{
		text-align: center;
		h3.moment-title{
			margin-right: 0;
		}
	}
	.trip-options{
		.message{
			position: absolute;
			left: 50%;
			top: 13px;
			.translate(-50%, 0);
			color: #9affb2;
		}
	}
	.moment-container{
		border-bottom: none;
		.moment-location{
			margin-top: 0;
			font-size: 18px;
			&:before{
				// color: #fff;
				top: 0px;
			}
		}
		h3{
			margin-top: 15px;
			clear: both;
		}
	}
	.moment-header{
		padding-bottom: 20px;
	}
}