@header-color: #ff4c71;
#header{
	-webkit-perspective: 1600px;
	.transition(height 0.2s linear);
	&.active{
		.header-inner{
			.rotateX(90deg);

		}
		.manage-options{
			background-color: #ff466a;
		}
	}
}

.header-inner{
	-webkit-transition: -webkit-transform 0.33s;
	transition: transform .33s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	.perspective-origin(~"50% 0");
	height: 100%;
	color: #fff;
	.animation(hideManageOptions .5s forwards ease);

	.trip-options{
		-webkit-transform: translateZ(25px);
		transform: translateZ(25px);
		text-align: center;
		height: 100%;
		.home-link{
			display: inline-block;
			color: #fff;
			font-size: 32px;
			padding: 3px 8px 5px;
			margin: 5px 0 0 15px;
			background-color: rgba(0,0,0,0.6);
			border-radius: 3px;
			float: left;
		}
	}
	.manage-options{
		position: absolute;
		overflow: hidden;
		width: 100%;
		color: #fff;
		font-size: 18px;
		font-weight: 200;
		height: 100%;
		background-color: transparent;

		-webkit-transform: rotateX(-90deg) translateZ(-25px);
		transform: rotateX(-90deg) translateZ(-25px);
		-webkit-transition: top 0.3s linear,opacity 0.3s linear;
		-moz-transition: top 0.3s linear,opacity 0.3s linear;
		-o-transition: top 0.3s linear,opacity 0.3s linear;
		transition: top 0.3s linear,opacity 0.3s linear;

		.left-section{
			width: 200px;
			height: 100%;
			display: inline-block;
			vertical-align: top;
			overflow: hidden;
		}
		.middle-section{
			font-size: 18px;
			font-weight: 300;
			text-align: center;
			width: ~"calc(100% - 345px)";
			display: inline-block;
			height: 100%;
			position: relative;
			overflow: hidden;
			.options{
				display: inline-block;
				padding: 15px 10px;
				margin: 0 5px;
				cursor: pointer;
			}
		}
		.right-section{
			width: 133px;
			height: 100%;
			display: inline-block;
			vertical-align: top;
			overflow: hidden;
			position: relative;
			padding: 0 0px;
			box-sizing: border-box;
			line-height: 50px;
			cursor: pointer;
		}
	}
}
// linear-gradient(to bottom, #28A6E3, #156185)
.trip-header{
	padding-top: 50px;
	width: 100%;
	height: 70%;
	position: absolute;
	top: 0;
	left: 0;
	.box-sizing(border-box);
	#gradient > .vertical(#28A6E3, darken(#28A6E3, 30%));
	color: #fff;
	.container{
		position: relative;
		z-index: 1;
	}
	h1.trip-title{
		margin: 100px 0 30px;
		font-size: 64px;
		line-height: 1.2;
		font-family: @headingFontFamily;

		// font-weight: normal;
	}
	h2.trip-about{
		font-size: 32px;
		font-weight: normal;
		line-height: 1.3;
	}
	&.has-cover{
		h1.trip-title{
			text-shadow: 1px 2px 4px rgba(0,0,0,0.4);
		}
		h2.trip-about{
			text-shadow: 1px 2px 2px rgba(0,0,0,0.4);
		}
	}
}
.moment-header, .trip-header{
	&.has-cover{
		color: white;
		#gradient > .vertical(#555, darken(#555, 30%));
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		&:before{
			position: absolute;
			width: 100%;
			height: 100%;
			#gradient > .vertical-three-colors(rgba(0,0,0,0.1), rgba(0,0,0,0.3), 80%, rgba(0,0,0,0.8));
			content: '';
			top: 0;
			left: 0;
		}
		input{
			color: #fff;
			background: transparent;
		}
	}
	&:hover{
		.change-moment-cover{
			opacity: 0.5;
		}
		.change-trip-cover{
			opacity: 0.5;
		}
	}
}
.moment-header{
	position: relative;
	padding-bottom: 40px;
	margin-bottom: 2px;
	&.has-cover{
		padding: 20px 20px 40px 20px;
	}
	.moment-type-selection{
		input{
			text-align: center;
		}
	}
}
.trip-body{
	position: absolute;
	top: 70%;
	width: 100%;
}

.moment-container{
	margin: 40px 0;
	padding-bottom: 40px;
	border-bottom: 1px solid #eee;
	position: relative;
	.moment-location{
		float: right;
		font-size: 24px;
		margin-top: 15px;
		position: relative;
		.location-suggest{
			display: inline-block;
			margin: 0;
			width: 260px;
			border-width: 0;
			margin-right: 20px;
			outline: none;
		}
		.loader{
			position: absolute;
		}
		&:before{
			font-family: FontAwesome;
			content: "\f041";
			position: absolute;
			left: -20px;
			top: 5px;
			color: #999;
		}
	}
	h3.moment-title{
		margin: 0 0 25px;
		font-size: 42px;
		line-height: 1.2;
		font-family: @headingFontFamily;
		margin-right: 300px;
		position: relative;
		// font-weight: normal;
	}
	h4.moment-about{
		font-weight: normal;
		font-size: 24px;
		margin: 0 0 25px;
		line-height: 1.2;
		position: relative;
	}
	.moment-type{
		font-size: 18px;
		margin-bottom: 25px;
	}
	.photos-container{
		.clearfix();
		position: relative;
		.photo-container{
			float: left;
			// margin: 0 1px 1px 0;
			position: relative;
			overflow: hidden;
			.transition(all 0.5s);
			.box-sizing(border-box);
			// .transition(border 0.5s);

			.image-button{
				position: absolute;
				right: 1px;
				top: 1px;
				color: #FFF;
				background-color: rgba(0, 0, 0, 0.6);
				padding: 4px 10px;
				cursor: pointer;
				z-index: 1;
				display: none;
			}
			.photo-zoom{
				right: 38px;

			}
			.split-moment{
				font-weight: bold;
				&.active{
					background-color: #ea4569;
					display: block;
				}
			}
			.image-thumb{
				.box-sizing(border-box);
				border: 0px solid @header-color;
				.transition(border 0.5s);
			}
			&.selected{
				.image-thumb{
					border: 3px solid @header-color;
					// border: 1px dashed #000;
					.animation(photoEditMode .5s forwards ease);
				}
			}
			.undo-button{
				display: none;
			}
			&:hover{
				.photo-zoom,.split-moment{
					display: block;
				}
			}
		}
		.picrow{
			.photo-container:last-child{
				margin-right: 0 !important;
			}
		}
		.deleted{
			.scale(0.96);
			.image-thumb{
				opacity: 0.2;
			}
			.split-moment.active{
				display: none;
			}
			&:hover{
				.photo-zoom,.split-moment,.active{
					display: none;
				}
			}
			.undo-button{
				display: block;
			}
		}
		.image-thumb{
			background-color: #f5f5f5;
			// height: 140px;
		}
	}
}
.moment-deleted{
	font-size: 24px;
	color: #999;
	padding-bottom: 20px;
	a.undo-moment-delete{
		float: right;
		color: #999;
		&:hover{
			color: @textColor;
		}
	}
}
.moment-icon{
	background-color: #3BAEE5;
	font-size: 1.4em;
	margin: -4px 0;
}
.header-button{
	margin: 8px 25px 0 0;
	float: right;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 15px;
	padding: 5px 25px;
	background-color: #222;
	text-decoration: none;
	position: relative;
	.bubble{
		display: none;
		position: absolute;
		text-align: center;
		left: 0;
		top: 50%;
		.translate(-50%, -50%);
		border: 1px solid #fff;
		min-width: 20px;
		min-height: 20px;
		border-radius: 20px;
		background-color: @header-color;
		font-size: 11px;
		font-weight: bold;
		color: #fff;
	}
	&.inactive{
		border-color: #ccc;
		color: #ccc;
		.bubble{
			display: block;
		}
	}
	&.change-trip-cover, &.change-moment-cover{
		position: absolute;
		bottom: 10px;
		left: 50%;
		.translate(-50%, 0);
		margin: 0;
		opacity: 1;
		.transition(all 0.3s);
		/*&:hover{
			opacity: 1;
		}*/
	}
}
.error-list{
	position: absolute;
	right: 15px;
	top : 50px;
	background-color: #222;
	width: 300px;
	border-radius: 5px;
	&:before{
		position: absolute;
		content: '';
		width: 0;
		height: 0;
		top: -10px;
		border-style: solid;
		border-width: 0 6px 10.4px 6px;
		border-color: transparent transparent #000 transparent;
	}
	.error-list-header{
		padding: 4px 10px;
		background-color: #000;
		border-radius: 5px 5px 0 0;
		text-align: left;
		a{
			float: right;
			color: #ccc;
			font-size: 12px;
		}
	}
	.error-list-ul{
		font-size: 13px;
		text-align: left;
		padding: 3px 0;
		li{
			list-style: none;
			padding: 3px 10px;
			border-bottom: 1px solid rgba(255,255,255,0.1);
		}
		a{
			color: #fff;
			text-decoration: none;
		}
	}
}

body.show-modal{
	height: 100%;
	overflow: hidden;
	.modal{
		.animation(showModal 1s forwards ease);
	}
}
.modal{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(47, 47, 47, 0.98);
	z-index: 10;
	top: 0;
	font-weight: 200;
	color: #fff;
	overflow: auto;

	.animation(hideModal 0.8s forwards ease);

	/*&.show{
		.animation(showModal 1s forwards ease);

	}*/
	.modal-close{
		position: fixed;
		right: 8px;
		top: 0px;
		font-size: 27px;
		cursor: pointer;
		padding: 10px 20px;
		z-index: 11;
	}
	.modal-body{
		position: fixed;
		padding: 60px 0 20px;
		height: 100%;
		overflow-y: auto;
		width: 100%;
		left: 0;
		.box-sizing(border-box);
		.container{
			height: 100%;
		}
	}
	.modal-head{
		background-color: rgba(34, 34, 34, 0.87);
		height: 48px;
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		padding-right: 60px;
		.box-sizing(border-box);
		z-index: 10;
	}
	h1{
		font-weight: 300;
		margin-top: 0;
		padding-top: 0.3em;
	}
	.modal-inner{
		width: 1130px;
		margin: auto;
		// padding: 0px 0 20px;
		height: 100%;
		.selector{
			z-index: 10;
		}

		.hide{
			display: none;
		}

		h2{
			font-size: 24px;
			font-weight: 200;
			text-align: center;
			color: #CFCFCF;
		}

		.modal-header{
			height: 215px;
			overflow: hidden;
			.selected-pic-block{
				.selected-pic{
					white-space: nowrap;
					overflow: auto;
					height: 105px;
				}
			}
			.reorded-pic-block{
				font-size: 24px;
				font-weight: 200;
				text-align: center;
				color: #CFCFCF;
				.reorder{
					padding: 10px;
					margin-top: 50px;
				}
				.button{
					margin-top: 30px;
				}
				span.modal-button{
					float: none;
					display: inline-block;
					font-size: 14px;
				}
			}
		}
		.all-moments{
			overflow: auto;
			.modal-photos-container{
				margin-bottom: 5px;
				cursor: pointer;
				border: 1px solid rgba(0, 0, 0, 0);
				padding: 5px;
				box-sizing: border-box;
				white-space: nowrap;
				overflow: auto;
				width: 99%;

				&:hover{
					border: 1px solid #fff;
				}


				&.unselect{
					img{
						opacity: 0.1;
					}
				}
				img{
					height: 50px;
					margin:0 5px 0px 0;
					border:1px solid #5A5A5A;
				}
			}
		}
		.selected-pic{
			ul{
				text-align: center;
			}
			.modal-selected-photo{
				height: 100px;
				display: inline-block;
				border: 1px solid #999;
				img{
					height:100%;

				}
			}
		}
	}

	.dummyPhoto{
		opacity: 1;
		width: 100px;
		height: 100px;
		position: fixed;
	}
}
.moment-container{
	&:hover{
		.buttons-container{
			visibility: visible;
			opacity: 1;
		}
	}
}

.left-button-section{
	position: absolute;
	left: -50px;
	height: 100%;
	top: 0;
	z-index: 5;
}
.buttons-container{
	visibility: hidden;
	opacity: 0;
	.transition(all 0.3s);
}
.btn{
	border: 1px solid #fd7291;
	background-color: #fd7291;
	color: #fff;
	padding: 5px 20px;
	border-radius: 15px;
	outline: none;
	.transition(all 0.3s);
	&:hover{
		background-color: #ff4c71;
	}
	&:active{
		background-color: #ea4569;
	}
}
.buttons-in-header{
	width: 50px;
	margin-top: 10px;
	.btn{
		width: 45px;
		height: 45px;
		padding: 0;
		display: block;
		border-radius: 5px;
		font-size: 24px;
		margin-bottom: 10px;
	}
}
.buttons-in-footer{
	text-align: center;
	margin: 20px 0;
}
.reorder-image{

	.reorder-photo-container{
		position: relative;
		width: 100%;
		overflow: hidden;
		height: 100%;

		.reorder-image-thumb {
			vertical-align: middle;
			float: left;
			height: 100px;
			margin: 1px;
			background-color: #444;
		}

	}
}
.modal-button{
	padding: 5px 15px 6px;
	margin-bottom: 10px;
	background-color: #000;
	border: 1px solid #fff;
	display: block;
	text-align: center;
	position: relative;
	margin-right: 10px;
	top: 7px;
	cursor: pointer;
	z-index: 1;
	border-radius: 20px;
	font-weight: 400;
	float: right;
	.transition(all 0.3s);
	&:hover{
		color: #333;
		background-color: #fff;
	}
}
.choose-cover-image{
	width: 1130px;
	margin: auto;
}
.choose-cover-image-thumb{
	height: 120px;
	margin: 0px;
	cursor: pointer;
	border: 2px solid rgba(255, 255, 255, 0.0);

	&.selected{
		border: 2px solid #ea4569;
	}

	&:first-child{
		margin-left: 0px;
	}

	&:last-child{
		margin-right: 0px;
	}

}

@-webkit-keyframes showModal {
	0%{
		opacity: 0;
  		display: block;
	}
	1% {
		-webkit-transform: scale(0);
		opacity: 0;
	}

	50%{
		-webkit-transform: scale(1.05);
		opacity: 1;
	}

	100%{
		-webkit-transform: scale(1);
		opacity: 1;
	}
}
@-moz-keyframes showModal {
  0%{
		opacity: 0;
  		display: block;
	}
	1% {
		-webkit-transform: scale(0);
		opacity: 0;
	}

	50%{
		-webkit-transform: scale(1.05);
		opacity: 1;
	}

	100%{
		-webkit-transform: scale(1);
		opacity: 1;
	}
}
@-ms-keyframes showModal {
 0%{
		opacity: 0;
  		display: block;
	}
	1% {
		-webkit-transform: scale(0);
		opacity: 0;
	}

	50%{
		-webkit-transform: scale(1.05);
		opacity: 1;
	}

	100%{
		-webkit-transform: scale(1);
		opacity: 1;
	}
}
@-o-keyframes showModal {
  0%{
		opacity: 0;
  		display: block;
	}
	1% {
		-webkit-transform: scale(0);
		opacity: 0;
	}

	50%{
		-webkit-transform: scale(1.05);
		opacity: 1;
	}

	100%{
		-webkit-transform: scale(1);
		opacity: 1;
	}
}
@keyframes showModal {
  0%{
		opacity: 0;
  		display: block;
	}
	1% {
		-webkit-transform: scale(0);
		opacity: 0;
	}

	50%{
		-webkit-transform: scale(1.05);
		opacity: 1;
	}

	100%{
		-webkit-transform: scale(1);
		opacity: 1;
	}
}
@-webkit-keyframes hideModal {
  1% {
  	.scale(1);
  	opacity: 1;
  	visibility: visible;
  }

  50%{
  	.scale(1.5);
  	opacity: 0;
  	visibility: visible;
  }

  100%{
  	.scale(2);
  	opacity: 0;
  	display: none;
  	visibility: hidden;
  }
}
@-moz-keyframes hideModal {
   1% {
  	.scale(1);
  	opacity: 1;
  	visibility: visible;
  }

  50%{
  	.scale(1.5);
  	opacity: 0;
  	visibility: visible;
  }

  100%{
  	.scale(2);
  	opacity: 0;
  	display: none;
  	visibility: hidden;
  }
}
@-o-keyframes hideModal {
   1% {
  	.scale(1);
  	opacity: 1;
  	visibility: visible;
  }

  50%{
  	.scale(1.5);
  	opacity: 0;
  	visibility: visible;
  }

  100%{
  	.scale(2);
  	opacity: 0;
  	display: none;
  	visibility: hidden;
  }
}
@-ms-keyframes hideModal {
  1% {
  	.scale(1);
  	opacity: 1;
  	visibility: visible;
  }

  50%{
  	.scale(1.5);
  	opacity: 0;
  	visibility: visible;
  }

  100%{
  	.scale(2);
  	opacity: 0;
  	display: none;
  	visibility: hidden;
  }
}
@keyframes hideModal {
  1% {
  	.scale(1);
  	opacity: 1;
  	visibility: visible;
  }

  50%{
  	.scale(1.5);
  	opacity: 0;
  	visibility: visible;
  }

  100%{
  	.scale(2);
  	opacity: 0;
  	display: none;
  	visibility: hidden;
  }
}


@-webkit-keyframes photoEditMode {
  0% { .scale(1); }
  30%{ .scale(0.95); }
  60%{ .scale(1.03); }
  80%{ .scale(0.98); }
  100%{ .scale(1); }
}
@-moz-keyframes photoEditMode {
  0% { .scale(1); }
  30%{ .scale(0.95); }
  60%{ .scale(1.03); }
  80%{ .scale(0.98); }
  100%{ .scale(1); }
}
@-ms-keyframes photoEditMode {
  0% { .scale(1); }
  30%{ .scale(0.95); }
  60%{ .scale(1.03); }
  80%{ .scale(0.98); }
  100%{ .scale(1); }
}
@-o-keyframes photoEditMode {
  0% { .scale(1); }
  30%{ .scale(0.95); }
  60%{ .scale(1.03); }
  80%{ .scale(0.98); }
  100%{ .scale(1); }
}
@keyframes photoEditMode {
  0% { .scale(1); }
  30%{ .scale(0.95); }
  60%{ .scale(1.03); }
  80%{ .scale(0.98); }
  100%{ .scale(1); }
}
.preview-photo-option{

	.horizontal-loader{
		position: absolute;
		z-index: 1;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}


	&.delete{
		#big-photo-image{
			border: 5px solid #9D2603;
		}
	}


	.big-photo{
		position: absolute;
		height: ~'calc(100% - 80px)';
		width: 100%;
		left: 0;
		top: 60px;
		.big-photo-image{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			max-height: 100%;
			max-width: 100%;
			// .scale(0.95);
			&.animate{
				.transition(all 5s cubic-bezier(0.5,0,0.58,1));
				.scale(1);
			}

		}

	}

}
.preview-moment-photo-container{
	position: fixed;
	bottom: 3px;
	left: 2px;
	width: 100%;
	text-align: center;
	overflow-x: auto;
	white-space: nowrap;
	.preview-image-thumb{
		height: 80px;
		opacity: 0.7;
		border: 1px solid #222;
		display: none;
		&.selected{
			border: 1px solid #FFF;
			opacity: 1;
		}
	}
}

.new-moment-container{
	border: 1px dashed #888;
	padding: 10px;
	white-space: nowrap;
	cursor: move;
	.image-thumb{
		height: 80px;
	}
}
.modal-moment-container{
	padding: 10px;
	white-space: nowrap;
	overflow: hidden;

	.image-thumb{
		height: 50px;
	}
}
.dummyMoment{
	position: fixed;
	z-index: 2;
	background-color: rgba(0, 0, 0, 1)
}
// .create-all-moments{
// 	height: ~"calc(100% - 185px)";
// 	overflow-y: auto;
// }
/*.creation-done-btn{
	padding: 7px 15px;
	position: fixed;
	z-index: 2;
	right: 70px;
	top: 8px;
	border: 1px solid;
	background-color: #000;
	cursor: pointer;
}

*/



















