@font-face {
	font-family: 'serai-moment';
	src:url('fonts/serai-moment.eot?yqx22x');
	src:url('fonts/serai-moment.eot?#iefixyqx22x') format('embedded-opentype'),
		url('fonts/serai-moment.woff?yqx22x') format('woff'),
		url('fonts/serai-moment.ttf?yqx22x') format('truetype'),
		url('fonts/serai-moment.svg?yqx22x#serai-moment') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="serai-moment-"], [class*=" serai-moment-"] {
	font-family: 'serai-moment';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	border-radius: 50%;
	background-color: #333;
	color: #fff;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.serai-moment-eating:before {
	content: "\e620";
}
.serai-moment-sleeping:before {
	content: "\e637";
}
.serai-moment-drinking:before {
	content: "\e648";
}
.serai-moment-watching:before {
	content: "\e604";
}
.serai-moment-visiting:before {
	content: "\e60c";
}
.serai-moment-exploring:before {
	content: "\e63d";
}
.serai-moment-alternative:before {
	content: "\e64b";
}
.serai-moment-shopping:before {
	content: "\e61e";
}
.serai-moment-transport:before {
	content: "\e617";
}
.serai-moment-local:before {
	content: "\e62c";
}
.serai-moment-learning:before {
	content: "\e632";
}
.serai-moment-activity:before {
	content: "\e65b";
}
.serai-moment-culture:before {
	content: "\e640";
}
.serai-moment-relax:before {
	content: "\e623";
}

.serai-moment-restaurant:before {
	content: "\e620";
}
.serai-moment-act-bowling:before {
	content: "\e673";
}
.serai-moment-winery:before {
	content: "\e600";
}
.serai-moment-watching-theatre:before {
	content: "\e601";
}
.serai-moment-watching-standup-comedy:before {
	content: "\e602";
}
.serai-moment-watching-sporting-event:before {
	content: "\e603";
}
.serai-moment-watching-movie:before {
	content: "\e604";
}
.serai-moment-watching-festival:before {
	content: "\e605";
}
.serai-moment-watching-dance:before {
	content: "\e606";
}
.serai-moment-watching-concert:before {
	content: "\e607";
}
.serai-moment-visiting-water-park:before {
	content: "\e608";
}
.serai-moment-visiting-tower:before {
	content: "\e609";
}
.serai-moment-visiting-ruins:before {
	content: "\e60a";
}
.serai-moment-visiting-religious:before {
	content: "\e60b";
}
.serai-moment-visiting-museum:before {
	content: "\e60c";
}
.serai-moment-visiting-monuments:before {
	content: "\e60d";
}
.serai-moment-visiting-landmark:before {
	content: "\e60e";
}
.serai-moment-visiting-gallery:before {
	content: "\e60f";
}
.serai-moment-visiting-castle:before {
	content: "\e610";
}
.serai-moment-visiting-beach:before {
	content: "\e611";
}
.serai-moment-visiting-amusement-park:before {
	content: "\e612";
}
.serai-moment-transport-train:before {
	content: "\e613";
}
.serai-moment-transport-roadtrip:before {
	content: "\e614";
}
.serai-moment-transport-ride-sharing:before {
	content: "\e615";
}
.serai-moment-transport-hitchhicking:before {
	content: "\e616";
}
.serai-moment-transport-flight:before {
	content: "\e617";
}
.serai-moment-transport-ferry:before {
	content: "\e618";
}
.serai-moment-transport-cruise:before {
	content: "\e619";
}
.serai-moment-transport-bus:before {
	content: "\e61a";
}
.serai-moment-street-stall:before {
	content: "\e61b";
}
.serai-moment-stay-with-family:before {
	content: "\e61c";
}
.serai-moment-shopping-store:before {
	content: "\e61d";
}
.serai-moment-shopping-mall:before {
	content: "\e61e";
}
.serai-moment-shopping-boutique:before {
	content: "\e61f";
}
.serai-moment-resort:before {
	content: "\e621";
}
.serai-moment-relax-yoga:before {
	content: "\e622";
}
.serai-moment-relax-spa:before {
	content: "\e623";
}
.serai-moment-relax-meditation:before {
	content: "\e624";
}
.serai-moment-palace:before {
	content: "\e625";
}
.serai-moment-motel:before {
	content: "\e626";
}
.serai-moment-local-walking:before {
	content: "\e627";
}
.serai-moment-local-tram:before {
	content: "\e628";
}
.serai-moment-local-train:before {
	content: "\e629";
}
.serai-moment-local-taxi:before {
	content: "\e62a";
}
.serai-moment-local-metro:before {
	content: "\e62b";
}
.serai-moment-local-car:before {
	content: "\e62c";
}
.serai-moment-local-cablecar:before {
	content: "\e62d";
}
.serai-moment-local-bus:before {
	content: "\e62e";
}
.serai-moment-local-bike:before {
	content: "\e62f";
}
.serai-moment-learning-theater:before {
	content: "\e630";
}
.serai-moment-learning-outdoor:before {
	content: "\e631";
}
.serai-moment-learning-music:before {
	content: "\e632";
}
.serai-moment-learning-language:before {
	content: "\e633";
}
.serai-moment-learning-cooking:before {
	content: "\e634";
}
.serai-moment-learning-arts:before {
	content: "\e635";
}
.serai-moment-house-rental:before {
	content: "\e636";
}
.serai-moment-hotel:before {
	content: "\e637";
}
.serai-moment-hostel:before {
	content: "\e638";
}
.serai-moment-food-truck:before {
	content: "\e639";
}
.serai-moment-food-cart:before {
	content: "\e63a";
}
.serai-moment-fast-food:before {
	content: "\e63b";
}
.serai-moment-exploring-streets:before {
	content: "\e63c";
}
.serai-moment-exploring-sightseeing:before {
	content: "\e63d";
}
.serai-moment-exploring-building:before {
	content: "\e63e";
}
.serai-moment-culture-winetour:before {
	content: "\e63f";
}
.serai-moment-culture-festival:before {
	content: "\e640";
}
.serai-moment-couchsurfing:before {
	content: "\e641";
}
.serai-moment-coffeeshop:before {
	content: "\e642";
}
.serai-moment-club:before {
	content: "\e643";
}
.serai-moment-campsite:before {
	content: "\e644";
}
.serai-moment-campervan:before {
	content: "\e645";
}
.serai-moment-cafe:before {
	content: "\e646";
}
.serai-moment-brewery:before {
	content: "\e647";
}
.serai-moment-bar:before {
	content: "\e648";
}
.serai-moment-bakery:before {
	content: "\e649";
}
.serai-moment-alternative-voluenteering:before {
	content: "\e64a";
}
.serai-moment-alternative-urban-exploration:before {
	content: "\e64b";
}
.serai-moment-act-zorbing:before {
	content: "\e64c";
}
.serai-moment-act-ziplining:before {
	content: "\e64d";
}
.serai-moment-act-yoga:before {
	content: "\e64e";
}
.serai-moment-act-yachting:before {
	content: "\e64f";
}
.serai-moment-act-wind-surfing:before {
	content: "\e650";
}
.serai-moment-act-waterskiing:before {
	content: "\e651";
}
.serai-moment-act-trekking:before {
	content: "\e652";
}
.serai-moment-act-swimming:before {
	content: "\e653";
}
.serai-moment-act-surfing:before {
	content: "\e654";
}
.serai-moment-act-skateboarding:before {
	content: "\e655";
}
.serai-moment-act-snowboarding:before {
	content: "\e655";
}
.serai-moment-act-snorkeling:before {
	content: "\e656";
}
.serai-moment-act-skydiving:before {
	content: "\e657";
}
.serai-moment-act-sking:before {
	content: "\e658";
}
.serai-moment-act-skating:before {
	content: "\e659";
}
.serai-moment-act-scubadiving:before {
	content: "\e65a";
}
.serai-moment-act-safari:before {
	content: "\e65b";
}
.serai-moment-act-running:before {
	content: "\e65c";
}
.serai-moment-act-rockclimbing:before {
	content: "\e65d";
}
.serai-moment-act-roadtrip:before {
	content: "\e65e";
}
.serai-moment-act-rafting:before {
	content: "\e65f";
}
.serai-moment-act-picnic:before {
	content: "\e660";
}
.serai-moment-act-parasailing:before {
	content: "\e661";
}
.serai-moment-act-parachuting:before {
	content: "\e662";
}
.serai-moment-act-mountainbiking:before {
	content: "\e663";
}
.serai-moment-act-motorbiking:before {
	content: "\e664";
}
.serai-moment-act-marathon:before {
	content: "\e665";
}
.serai-moment-act-kayaking:before {
	content: "\e666";
}
.serai-moment-act-jetski:before {
	content: "\e667";
}
.serai-moment-act-ice-skating:before {
	content: "\e668";
}
.serai-moment-act-hotair-ballooning:before {
	content: "\e669";
}
.serai-moment-act-hiking:before {
	content: "\e66a";
}
.serai-moment-act-helicopter-tour:before {
	content: "\e66b";
}
.serai-moment-act-fishing:before {
	content: "\e66c";
}
.serai-moment-act-cycling:before {
	content: "\e66d";
}
.serai-moment-act-cruises:before {
	content: "\e66e";
}
.serai-moment-act-caving:before {
	content: "\e66f";
}
.serai-moment-act-canoeing:before {
	content: "\e670";
}
.serai-moment-act-camping:before {
	content: "\e671";
}
.serai-moment-act-camel-safari:before {
	content: "\e672";
}
.serai-moment-act-bonfire:before {
	content: "\e674";
}
.serai-moment-act-boating:before {
	content: "\e675";
}
.serai-moment-act-bird-watching:before {
	content: "\e676";
}
.serai-moment-act-archery:before {
	content: "\e677";
}
.serai-moment-act-angling:before {
	content: "\e678";
}
.serai-moment-act-abseiling:before {
	content: "\e679";
}
