<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Serai Playground</title>
	<!-- build:css /playground/static/css/home.css -->
	<link rel="stylesheet" href="/playground/site_media/css/home.css">
	<!-- endbuild -->
</head>

<body>
	<div class="header">
		<div class="content">
			<h1 class="logo">Serai</h1>
			<h1 class="head">Create beautiful travel journals</h1>
			<h2 class="subhead">
				<span>“</span>
				...turn your travel memories into memorable stories
				<span>”</span>
			</h2>
			<div class="signup-section">
				<p>To automagically create trip journals, sync your flickr account</p>
				<div class="button-container">
					<a href="{{FLICKR_CALLBACK}}" class="btn white">Sync Flickr Account</a>
				</div>
				<p class="subtext">Don’t worry we won’t save any of your photos without permission</p>
			</div>
			<div class="page-scroll">
				<a href="#" class="scroll-down">
					Scroll Down
					<em><i class="fa fa-chevron-down"></i></em>
				</a>

			</div>
		</div>
		<div class="overlay"></div>
	</div>
	<div class="trips">
		<div class="container">
			<h2>Browse some of the trip journals created on Serai</h2>
			<div class="trips-container">
			{% for trip in featured_trip %}
				<a href="/trip/{{trip.id}}/" class="">
				<div class="trip-tile" style="background-image:url('{{trip.img}}')">
					<div class="title">
						{{trip.title}}
						{% if trip.description %}
						<small>{{trip.description}}</small>
						{% endif %}
					</div>
				</div>
				</a>
			{% endfor %}
			</div>
		</div>
	</div>
	<div class="second-signup">
		<div class="container">
			<p>Impressed !! Why don’t you sync your flickr account to automagically create trip journals</p>
			<div class="button-container">
				<a href="{{FLICKR_CALLBACK}}" class="btn blue">Sync Flickr Account</a>
				<a href="#" class="choose-service btn blue no-border">No I don't use Flickr</a>
			</div>
			<p class="subtext">Don’t worry we won’t save any of your photos without permission</p>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="left">
				<h4>About</h4>
				<p>This is experiment from Serai. Intention of this experiment is to showcase users that how easy and effortless it is to create a beautiful trip journal on Serai.</p>
				<p>Liked what we are doing ? Go <a href="/">Signup</a> on Serai.</p>
			</div>
			<div class="right">
				<h4>Feedback</h4>
				<textarea id="txt-feedback" name="feedback"></textarea>
				<button class="feedback-button btn black small">Submit Feedback</button>
				<span class="feedback-message hide">Thanks for the feedback</span>
			</div>
			<div class="foot-text">Made with <i class="fa fa-heart"></i> for wonder</div>
		</div>
	</div>
	<div class="modal">
		<div class="content">
			<h2>Which Service Do You Use?</h2>
			<div class="modal-body">
				<p>Please tell us which services do you use, so that we can start supporting them as well.</p>
				<ul class="services-list">
					<li><a href="#" rel="twitter" class="twitter"><i class="fa fa-twitter"></i> Twitter</a>
					</li>
					<li><a href="#" rel="facebook" class="facebook"><i class="fa fa-facebook"></i>Facebook</a>
					</li>
					<li><a href="#" rel="google-plus" class="google-plus"><i class="fa fa-google-plus"></i>Google +</a>
					</li>
					<li><a href="#" rel="dropbox" class="dropbox"><i class="fa fa-dropbox"></i>Dropbox</a>
					</li>
					<li><a href="#" rel="instagram" class="instagram"><i class="fa fa-instagram"></i>Instagram</a>
					</li>
					<li><a href="#" rel="tumblr" class="tumblr"><i class="fa fa-tumblr"></i>Tumblr</a>
					</li>
					<li><a href="#" rel="foursquare" class="foursquare"><i class="fa fa-foursquare"></i>FourSquare</a>
					</li>
					<li><a href="#" rel="wordpress" class="wordpress"><i class="fa fa-wordpress"></i>Wordpress</a>
					</li>
				</ul>
			</div>
			<div class="modal-foot">
				<div class="left">
					<input type="text" id="user-email" placeholder="E-mail (optional)">
					<div class="subtext">We will email you once we support selected service</div>
				</div>
				<a href="#" class="service-button btn blue no-border disabled">Submit</a>
				<div class="service-message hide">Thanks for feedback</div>
			</div>
			<a href="#" class="close"><i class="fa fa-times"></i></a>
		</div>

	</div>
	<!-- build:js /playground/static/js/home-main.js -->
	<script src="/playground/site_media/js/vendor/jquery-2.1.1.min.js"></script>
	<script src="/playground/site_media/js/main.js"></script>
	<!-- endbuild -->
</body>

</html>
