<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Serai Playground</title>
	<!-- build:css /playground/static/css/style.css -->
	<link rel="stylesheet" href="/playground/site_media/css/style.css">
	<!-- endbuild -->
</head>
<body>
	<div class="body">
		<!-- <div class="dummyImage"></div> -->
		<div class="trip-index">

				<div class="inner-block">
					<p class="head-text">Importing Photos from Flickr</p>



					<!-- <div class="user-info">
						<div class="profile-pic-large">
							<img src="{{profile.usericon}}" alt="{{profile.username}}">
						</div>
					</div> -->
					<div class="image-fetch">

						<div class="top-outer">
							<div class="top-outer-circle"></div>
						</div>
						<div class="bottom-outer">
							<div class="bottom-outer-circle"></div>
						</div>
						<div class="inner-circle">

						</div>

					</div>
					<div class="spinner">
						<div class="rect1"></div>
						<div class="rect2"></div>
						<div class="rect3"></div>
						<div class="rect4"></div>
						<div class="rect5"></div>
						<div class="rect6"></div>
						<div class="rect7"></div>
						<div class="rect8"></div>
					</div>

					<div class="total-photos">{{profile.totalphotos}} Photos</div>
				</div>

				<div class="profile-pic">
					<img src="{{profile.usericon}}" alt="{{profile.username}}">
				</div>
				<div class="user-meta">
					<div class="title">{{profile.username}}</div>
				</div>


				<section class="trip-list">

				</section>


		</div>
		<div class="trip-detail"></div>
		<div class="trip-preview"></div>
	</div>
	<script>
		var FLICKR_API_KEY = '{{api_key}}';
		{% if trip_cluster_json %}
	  	var TRIP_CLUSTER_JSON = JSON.parse('{{trip_cluster_json|escapejs}}');
		{% endif %}
		{% if profile %}
		var USER_ID = '{{account.userid}}',
			AUTH = {% if account.credential %} JSON.parse('{{account.credential|escapejs}}'){% else %} null {%endif%};
		 	USER = JSON.parse('{{account.profile|escapejs}}');
		{% endif %}
	</script>

	<!-- build:js /playground/static/js/jszip.js -->
	<script type="text/javascript" src="/playground/site_media/js/plugins/jszip.js"></script>
	<!-- endbuild -->
	<!-- build:js /playground/static/js/main-built.min.js -->
	<script data-main="/playground/site_media/js/app/config" src="/playground/site_media/js/vendor/require.js"></script>
	<!-- endbuild -->

</body>
</html>