<div class="modal-head">
	<span class="modal-button choose-cover-done <% if(typeof moments === 'undefined'){%>is-moment-cover<%}%>" <% if(typeof moments === 'undefined'){%>id="cover-done-<%=cid%>"<%}%>>Set as Cover Picture</span>
</div>
<div class="modal-body">
<div class="choose-cover-image">

	<div class="choose-cover-photo-container">
		<% if(typeof moments === 'undefined'){ %>

			<h1>Choose moment cover picture</h1>
			<div class="choose-images-container">
				<% _.each(moment.photos, function(photo){%>
					<img alt="<%=photo.title%>" id="choose-cover-photo-<%=photo.id%>" class="choose-cover-image-thumb" src="<%=photo.url_s%>" alt="">
				<% }) %>
			</div>
		<% }else{ %>
			<h1>Choose trip cover picture</h1>
			<div class="choose-images-container">
				<% _.each(moments, function(moment){%>
					<% _.each(moment.photos, function(photo){%>
						<img alt="<%=photo.title%>" id="choose-cover-photo-<%=photo.id%>" class="choose-cover-image-thumb" src="<%=photo.url_s%>" alt="">
					<% }) %>
				<% }) %>
			</div>
		<% } %>
	</div>
</div>
</div>