<div class="modal-head">
	<span class="creation-done-btn modal-button">Create Moment</span>
</div>
<div class="modal-body">
<div class="container">
	<div class="new-moment">
		<h1>Create New Moment</h1>
		<p>Drag and place new moment at desired position</p>
		<div class='new-moment-container'>
			<% _.each(photos, function(photo){%>
				<img alt="<%=photo.get('title')%>" class="image-thumb" src="<%=photo.get('url_s')%>">
			<% }) %>
		</div>
	</div>
	<div class="create-all-moments">
		<% _.each(moments, function(moment){ %>
			<% if(moment.deleted == false) { %>
				<div class="modal-moment-container" id="modal-moment-<%=moment.cid%>">
					<% _.each(moment.photos, function(photo){%>
						<img alt="<%=photo.title%>" class="image-thumb" src="<%=photo.url_s%>">
					<% }) %>
				</div>
			<% } %>
		<% }) %>
	</div>
</div>
</div>
