<div class="moment-block">
	<div class="moment-header <%if(moment['cover-pic']){%>has-cover<%}%>" style="<%if(moment['cover-pic']){%>background-image:url('<%=moment['cover-pic'].url_o%>')<%}%>">
		<% if(moment.location){ %>
		<div class="moment-location">
			<%=moment.location.name%>
		</div>
		<% } %>
		<h3 class="moment-title editable" name="title" placeholder="Title of the Moment"><%=moment.title%></h3>
		<h4 class="moment-about editable" name="about" placeholder="About this Moment (optional)"><%=moment.about%></h4>
		<div class="selected-moment-types">
			<%_.each(moment.types, function(type){ %>
				<div class="selected-moment-type">
					<i class="moment-icon serai-moment-<%=type.name%>"></i>
					<div class="moment-category"><%=type.category%></div>
					<div class="moment-subcategory"><%=type.subCategory%></div>
				</div>
			<% }); %>
		</div>
	</div>
	<div class="photos-container">
	</div>
</div>
