<div class="moment-block">
	<div class="left-button-section">
		<div class="buttons-in-header buttons-container">
			<button class="tooltip btn btn-delete-moment" title="Mark this moment as Deleted">
				<i class="fa fa-times fa-inverse"></i>
			</button>
			<button class="tooltip btn btn-reorder-photos" title="Reorder Photos in this Moment">
				<i class="fa fa-reorder fa-inverse"></i>
			</button>
		</div>
	</div>
	<div class="moment-header <%if(moment['cover-pic']){%>has-cover<%}%>" style="<%if(moment['cover-pic']){%>background-image:url('<%=moment['cover-pic'].url_o%>')<%}%>">
		<div class="moment-location">
			<input type="text" class="location-suggest" placeholder="Where did it happened ?">
		</div>
		<h3 class="moment-title editable" name="title" placeholder="Title of the Moment"><%=moment.title%></h3>
		<h4 class="moment-about editable" name="about" placeholder="About this Moment (optional)"><%=moment.about%></h4>
		<div class="moment-type">What is this moment based around ?</div>
		<a href="#" class="header-button change-moment-cover">Change Cover</a>
	</div>
	<div class="photos-container"></div>
</div>
<div class="moment-deleted hide">
	<a href="#" class="tooltip undo-moment-delete" title="Undo Deletion"><i class="fa fa-undo"></i></a>
	1 Moment maked deleted (<%=moment.photos.length%> Photos)
</div>