
<div class="modal-header">
	<div class="selected-pic-block" >
		<h2> Your Selected Pic</h2>
		<div class="selected-pic">
			<ul>
			<% _.each(photos, function(photo){ %>
				<li class="modal-selected-photo" org-width="<%=photo.get('width_s')%>" org-height="<%=photo.get('height_s')%>">
					<img src="<%= photo.get('url_s') %>" />
				</li>
			<% }) %>
			</ul>
		</div>
		<h2> Choose Moment where you want to put these images</h2>
	</div>
	<div class="reorded-pic-block">
		<div class="reorder">Do you want to re-order photos in this moment</div>
		<div class="button">
			<span class="reorder-btn modal-button">Reorder Now</span>
			<span class="move-done  modal-button">I'll do it later</span>
		</div>
	</div>
</div>
<div class="all-moments">
	<% _.each(moments, function(moment){ %>
		<% if(moment.deleted == false) { %>
			<div class="modal-photos-container" id="photo-container-<%=moment.cid%>">
				<% _.each(moment.photos, function(photo){%>
					<img alt="<%=photo.title%>" id="modal-photo-<%=photo.id%>" class="image-thumb" src="<%=photo.url_s%>" org-width="<%=photo.width_s%>" org-height="<%=photo.height_s%>" />
				<% }) %>
			</div>
		<% } %>
	<% }) %>
</div>

