<div class="modal-head">
	<div class="modal-button preview-undo-delete-photo common">Un-Delete this photo</div>
	<div class="modal-button preview-delete-photo common">Delete this photo</div>
</div>
<div class="modal-body">
<div class="container">
	<div class="preview-photo-option ">

		<div class="horizontal-loader">
			<div class="dot dot1"></div>
			<div class="dot dot2"></div>
			<div class="dot dot3"></div>
			<div class="dot dot4"></div>
		</div>

		<div class="big-photo">
			<img id="big-photo-image" class="big-photo-image" src="" />
		</div>

	</div>

	<div class="preview-moment-photo-container">
		<% _.each(moments, function(moment){%>
			<% if(moment.deleted == false) { %>
				<% _.each(moment.photos, function(photo){%>
					<img alt="<%=photo.title%>" id="preview-modal-photo-<%=photo.id%>" class="preview-image-thumb" src="" ori-width="<%=photo.width_s%>" ori-height="<%=photo.height_s%>"/>
				<% }) %>
			<% } %>
		<% }) %>

	</div>
</div>
</div>
