<div class="modal-head">
	<span class="reorder-done modal-button">Save new order</span>
</div>
<div class="modal-body">
	<div class="reorder-image container">
		<h1>Reorder Moment Photos</h1>
		<p>Drag and Move photos to change the order</p>
		<div class="reorder-photo-container">
			<% _.each(moment.photos, function(photo){%>
				<img alt="<%=photo.title%>" id="reorder-photo-<%=photo.id%>" class="reorder-image-thumb" src="<%=photo.url_s%>" alt="">
			<% }) %>
		</div>
	</div>
</div>
