<header id="header">
	<div class="header-inner">
		<div class="trip-options">
			<a href="#" class="home-link"><i class="fa fa-home"></i></a>
			<div class="message">This is just a rough preview, trip looks much fancier once published.</div>
			<a href="#" class="header-button publish-now">
				Publish Now
			</a>
			<a href="#" class="header-button continue-editing">
				Continue Editing
			</a>
			<div class="error-list hide">
				<div class="error-list-header">
					<span class="error-count">5</span> actions needed to publish trip

				</div>
				<ul class="error-list-ul">

				</ul>
			</div>
		</div>
		<div class="manage-options">
			<div class="left-section"></div>
			<div class="middle-section">
				<ul>
					<li class="options move-image">Move</li>
					<li class="options delete-image">Delete</li>
					<li class="options create-moment">Create Moment</li>
				</ul>
			</div>
			<div class="right-section">
				Clear Selection
			</div>
		</div>
	</div>
</header>
<section class="trip-container">
	<div class="trip-header <%if(trip['cover-pic']){%>has-cover<%}%>" style="<%if(trip['cover-pic']){%>background-image:url('<%=trip['cover-pic'].url_o%>')<%}%>">
		<div class="container">
			<h1 class="trip-title editable" name="title" placeholder="Title of the Trip"><%=trip.title%></h1>
			<h2 class="trip-about editable" name="about" placeholder="About this Trip (Optional)"><%=trip.about%></h2>
		</div>
	</div>
	<div class="trip-body">
		<div class="container moments-container">
		</div>
	</div>
</section>
