<% _.each(data, function(trip){ %>
	<% if(trip.cover_pic) { %>
		<div class="trip-item published" id="trip-item-<%=trip.id%>">
			<div class="banner">Saved on Serai</div>
			<div class="trip-header-cover"<% if (trip['cover_pic']) {%> style="background-image:url('<%=trip['cover_pic']%>');"<% }%>></div>


			<div class="trip-title">
				<%=trip.title%>
				<small>
					<%=trip.num_of_days %>
					<%= ' Day' + trip.num_of_days > 1 ? 's' : ''%> Day : <span class="month"><%=trip.humanizeDuration%></span>
				</small>
			</div>
			<div class="photos-count"><%=trip.moment_count%> Moments | <%=trip.photo_count%> photos</div>
		</div>
	<% } else { %>
		<div class="trip-item" id="trip-item-<%=trip.id%>">
			<div class="trip-header-cover"<% if (trip['cover-pic']) {%>style="background-image:url('<%=trip['cover-pic'].url_l%>');"<% }%>></div>

			<div class="pictures">
			<% for(i=0, count=0; i<trip.moments.length; i++){ %>
				<% for (j = 0; j < trip.moments[i].photos.length; j++ ) { %>
					<% 	photo = trip.moments[i].photos[j];
						if( !photo.deleted && count++ < 12) { %>
						<img src="<%=photo.url_sq%>" alt="">
					<% } %>
				<% } %>
			<% } %>
			</div>
			<div class="trip-title">
				<%=trip.num_of_days%> Days Trip
				<small>
					<span class="month"><%=trip.humanizeDuration%></span>
				</small>
			</div>
			<div class="photos-count"><%=trip.moments.length%> Moments | <%=trip.num_of_photos%> photos</div>
		</div>
	<% } %>
<% }) %>