<header id="header">
	<div class="header-inner">
		<div class="trip-options">
			<a href="/playground/" class="home-link"><i class="fa fa-home"></i></a>
			<a href="#" class="header-button preview-publish inactive">
				<span class="bubble error-bubble">23</span>
				Preview and Publish
			</a>
			<div class="error-list hide">
				<div class="error-list-header">
					<span class="error-count">5</span> actions needed to publish trip

				</div>
				<ul class="error-list-ul">

				</ul>
			</div>
		</div>
		<div class="manage-options">
			<div class="left-section"></div>
			<div class="middle-section">
				<ul>
					<li class="options move-image" title="Move selected photos to some other moment">Move</li>
					<li class="options delete-image" title="Mark selected photos Deleted">Delete</li>
					<li class="options create-moment" title="Create a new Moment out of selected Photos">Create Moment</li>
				</ul>
			</div>
			<div class="right-section">
				Clear Selection
			</div>
		</div>
	</div>
</header>
<section class="trip-container">
	<div class="trip-header <%if(trip['cover-pic']){%>has-cover<%}%>" style="<%if(trip['cover-pic']){%>background-image:url('<%=trip['cover-pic'].url_o%>')<%}%>">
		<div class="container">
			<h1 class="trip-title editable" name="title" placeholder="Title of the Trip"><%=trip.title%></h1>
			<h2 class="trip-about editable" name="about" placeholder="About this Trip (Optional)"><%=trip.about%></h2>
		</div>
		<a href="#" class="header-button change-trip-cover">Change Cover</a>
	</div>
	<div class="trip-body">
		<div class="container moments-container">
		<% _.each(trip.moments, function(moment){ %>

		<% }) %>
		</div>
	</div>
</section>
<div class="modal" style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;" unselectable="on" onselectstart="return false;" onmousedown="return false;">
	<div class="modal-close">x</div>
	<div class="modal-inner">
	</div>
</div>
