@font-face {
  font-family: 'Baskerville';
  src: url('Baskerville.eot'); /* IE9 Compat Modes */
  src: url('Baskerville.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Baskerville.woff') format('woff'), /* Modern Browsers */
       url('Baskerville.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Baskerville.svg#69fe73d36b3a62fcdf5267236ee0e4c6') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Baskerville';
  src: url('Baskerville-Italic.eot'); /* IE9 Compat Modes */
  src: url('Baskerville-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Baskerville-Italic.woff') format('woff'), /* Modern Browsers */
       url('Baskerville-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Baskerville-Italic.svg#4640e45f332c6c1738f6da8b9f6b81b0') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

